<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"
</head>
    <body>
        <header>
            <div>
                <h1>Mad Blogs</h1>
                <h2>Ipsum Blogum</h2>
            </div>
            <nav>
                <p><a href="#">Home</a></p>
                <p><a href="#">About Ipsum Blogum</a></p>
                <p><a href="#">Contact Us</a></p>
            </nav>
        </header>
        <main>
            <div class="window">
                    {% for blog in blogs %}
                    <div class="blog">
                        <p class="title">{{blog['title']}}</p>        
                        <p class="author">Written on {{blog['date']}} By {{blog['author']}}</p>
                        <p>{{blog['body']}}</p>
                    </div>
                    {%endfor%}
            </div>    
        </main>
        <footer>
            <p>Copyright Mad Blogs 2022</p>
        </footer>
    </body>
</html>