<fieldset>
    <legend><h1>Url Shortner</h1></legend>
    <form action="{% url 'url:index' %}" method="post">
    {% csrf_token %}
        <label for='textbox'>Url</label>
        <input type="text" name="user_submitted_url" id="textbox" >
        <input type="submit" value="submit">
    </form>
</fieldset>
    {% for code_string in url_input %}
        {% comment %} {{code_string.long_url}}
        {{code_string.short_url}} {% endcomment %}
        <a href="http://127.0.0.1:8000/url/new-link/{{code_string.short_url}}">Click me!/{{code_string.short_url}}</a>
        
        {% endfor %}
        
