ul{
    display: flex;
    flex-wrap: wrap;
    margin: 6px;
}

ul li{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 12px;
    font-family: 'Dancing Script';
    font-weight: 600;
    font-size: 20;
}

ul li form{
    margin: 6px;
}

.delete{
    background-color: rgba(255, 0, 0, 0.432);
}

.complete{
    background-color: rgba(0, 128, 0, 0.534);
}

.incomplete{
    background-color: rgba(255, 255, 0, 0.322);
}

.new{
    background-color: rgba(0, 0, 255, 0.61);
}