/** 
    *'h1' is 'selector',
    *'font-size' is 'propery',
    *'80px' is 'value'.
*/

body {
    /* background-color: rgba(159,128,146,.25); */
    background-color: hsla(325,14%,56%,.20);
    text-align: center;
}

h1 {
    margin: 20px;
    border: 5px solid red;
    padding: 7px;
}

q {
    margin: 20px;
    border: 5px solid blue;
}

h2 {
    margin: 20px;
    border: 5px orange solid;
    padding: 4px;
}

pre {
    margin: 20px;
    border: 5px dashed green;
    padding: 3px;
}

p {
    /* margin: 20px; */
    border: 5px dashed olivedrab;
    padding: 15px;
}

span {
    margin: 40px;
    margin-top: 20px;
    border: 5px solid salmon;
    padding: 15px;
}