@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');


:root {
    /* Colors */
    --background-color: #fffdfd;
    --primary-color: #680a1a;
    --secondary-color: #807474;
    --accent-color: #e05048;
    --text-color: #8C2008;
    --link-color: #61180E;
    --high-color: #ff0000;
    --medium-color: #f79502;
    --low-color: #b2f11c;
}

