@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');


:root {
    /* Colors */
    --background-color: #f3f1eb;
    --primary-color: #809163;
    --secondary-color: #807474;
    --accent-color: #FA9E64;
    --sand-color: #DEDCD5;
    --button-color: #bba6df;
    --high-color: #ff0000;
    --medium-color: #e28b08;
    --low-color: #6b9607;
}

