body {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        background-color: #353234;
        color:#92A8D1;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    header {
        border-bottom: 1px solid rgb(117, 111, 111);
        margin-bottom: 2rem;
        display: flex;
    }
    
    header h1 a {
        color: #4278a8;
        text-decoration: none;
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .w3-sidebar {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        background-color: transparent;
        color:#92A8D1;
    }
    .w3-sidebar  {
        flex-direction: column;
        margin-right: auto;
        justify-items: left;
    
    }
    
    .w3-sidebar  {
        display: flex;
        padding-top: 5px;
    }
    
    .w3-sidebar h6 {
        color:rgb(15, 185, 185);
        margin-left: 25px;
        margin-right: 25px;
        padding: 0px;
        margin-bottom: 2px;
        margin-top: 2px;
    }
    .w3-sidebar  p {
        color:rgb(66, 168, 134);
        margin-left: 25px;
        margin-right: 25px;
        padding: 0px;
        margin-bottom: 2px;
        margin-top: 2px;
    }
    /* .w3-sidebar  a {
        color:rgb(72, 85, 199);

    } */


    /* .nav-right {
        display: flex;
        padding-top: 2rem;
    }
    
    .nav-right p {
        margin-left: .25rem;
        margin-right: .25rem;
    }
    .nav-right a {
        color:aquamarine;
        margin-left: .25rem;
        margin-right: .25rem;
    } */

    mark.red {
        color:#993232;
        background: none;
    }
    .chirp-entry {
        margin-bottom: 2rem;
    }
    
    .chirp-entry h2 {
        margin: 0.5rem 0;
    }
    
    .chirp-entry h2 a, .chirp-entry h2 a:visited {
        color: #92A8D1;
        text-decoration: none;
    }
    
    .chirp-entry h5, .chirp-entry h6 {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .chirp-entry p {
        margin: 0;
        font-weight: 400;
    }
    
    .chirp-entry h2 a:hover {
        color:cornsilk;
    }