<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Tasks</title>
</head>
<body>
    <header></header>
    <main id="app">
        <h1>{{ rootComponentGreeting }}</h1>

        <section id="add-task-section">
            <label for="temp-id">Add a Task:</label>
            <!-- ' v-on:keyup.enter' OR '@keyup.enter' -->
            <input v-model="newTask.description" v-on:keyup.enter="addTask" type="text" placeholder="Enter task description here" id="temp-id">
            <!-- 'v-on:click' OR '@click' -->
            <button v-on:click="addTask">Smash that BUTTON!</button>
            <span>Task description preview: {{ newTask.description }}</span>
        </section>

        
        <section id="list-tasks-section">
            
            <h2 v-if="Object.keys(incompleteTasks).length">{{ incompleteTaskHeading }}</h2>

            <a-task
                v-for="task in incompleteTasks"
                v-bind:key="task.id"
                v-bind:aa-task="task"
                v-on:delete-component-task="deleteRootTask"
                v-on:toggle-component-task="toggleCompletion"
            >
            </a-task>
            
            <h2 v-if="Object.keys(completedTasks).length">{{ completedTaskHeading }}</h2>
            
            <a-task
                v-for="task in completedTasks"
                v-bind:key="task.id"
                v-bind:aa-task="task"
                v-on:delete-component-task="deleteRootTask"
                v-on:toggle-component-task="toggleCompletion"
            >
            </a-task>

        </section>

    </main>
    
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>