<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/site.css" />
    <title>Lab 4: Vue Todos</title>
</head>
<body>
    <div id="app">
        <header v-bind:style="'text-align:' + theBindStyle">
            <h1>ToDos - CheckBox Interface</h1>
            <nav>
                <a href="index.html">Button and CheckBox Interface</a>
                <a href="button_interface.html">Button Interface</a>
            </nav>
        </header>
        <main>
            <!-- List with checkboxes -->
            <h2>{{ checkboxHeading }}</h2>
            <p>
                <span>Add ToDo: </span>
                <input
                    v-model="newToDoText"
                    placeholder="Your new ToDo"
                    >
                <button v-on:click="addTheToDo(newToDoText)">Add the ToDo</button>
            </p>
            <h3>{{ checkboxTodosHeading }}</h3>
            <ul style="list-style-type: none">
                <li
                v-for="todo in incompleteTodos"
                :key="todo.id"
                >
                    <input
                    type="checkbox"
                    v-bind:id="'uncompleteCheckbox' + todo.id"
                    v-model="todo.isCompleted"
                    >
                    <label v-bind:for="'uncompleteCheckbox' + todo.id">Complete</label>
                    <button v-on:click="deleteToDo(todo)">Delete?</button>
                    <span>{{ todo.text }}</span>
                </li>
                <li
                v-for="todo in completeTodos"
                :key="todo.id"
                >
                    <input
                    type="checkbox"
                    v-bind:id="'uncompleteCheckbox' + todo.id"
                    v-model="todo.isCompleted"
                    >
                    <label v-bind:for="'uncompleteCheckbox' + todo.id">Complete</label>
                    <button v-on:click="deleteToDo(todo)">Delete?</button>
                    <span>{{ todo.text }}</span>
                </li>
            </ul>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/js/site.js"></script> 
</body>
</html>