<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .highlighted {
            font-style: oblique;
        }
    </style>
    <title>Vue Basics</title>
</head>
<body>
    <div id='app1'>
        <h1>{{ heading }}</h1>
        <p v-bind:title="timeLoaded">Hover here for time of page load.</p>
        <p v-if="elementSeen">elementSeen == true</p>
        <h2>The ToDos</h2>
        <p>
            <span>Add ToDo: </span>
            <input type="text" v-model="newTodoText" placeholder="Your new ToDo" @keyup.enter="addTheTodo(newTodoText)">
            <button v-on:click="addTheTodo(newTodoText)">Add the ToDo</button>
        </p>
        <h3>Uncompleted ToDos</h3>
        <ul style="list-style-type: none">
        <!-- <ul style="list-style-type: none"> -->
            <li v-for="(todo, index) in uncompletedTodos">
                <button v-on:click="completeTodo(todo, index)">Complete?</button>
                <button v-on:click="deleteUncompletedTodo(todo, index)">Delete?</button>
                <span>{{ index + 1 }}: </span>
                <span>{{ todo.text }}</span>
                <span>{{ todo.isCompleted }}</span>
            </li>
        </ul>
        <h3>Completed ToDos</h3>
        <ul style="list-style-type: none">
            <li v-for="(todo, index) in completedTodos">
                <button v-on:click="uncompleteTodo(todo, index)">Uncomplete?</button>
                <button v-on:click="deleteCompletedTodo(todo, index)">Delete?</button>
                <span>{{ index + 1 }}: </span>
                <span>{{ todo.text }}</span>
                <span>{{ todo.isCompleted }}</span>
            </li>
        
        </ul>
        <h3>Shopping List - Click item to toggle 'oblique'</h3>
        <ul>
            <li
                v-for="item in shoppingList"
                v-on:click="item.selected = !item.selected"
                v-bind:class="{highlighted: item.selected}">{{ item.name }}</li>
        </ul>
        <p>
            <span>{{ somethingSaid }} </span>
            <button v-on:click="reverseMessage">Reverse the adjacent text!</button>
        </p>
        <p>
            <input v-model="the.userText" placeholder="Type something here">
            <span>Here's what you typed: {{ the.userText }}</span>
        </p>
        <p>
            <span>Number of clicks: {{ counterOfClicks }}</span>
            <button v-on:click="counterOfClicks += 1">Gimme a CLICK!!!</button>
        </p>
        <p>
            <button v-on:click="moveToRight">Right</button>
            <p>
                <span>{{ barPadding }}</span>
                <span>{{ barString }}</span>
            </p>
            <button v-on:click="moveToLeft">Left</button>
        </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>    
</body>
</html>