html {
    box-sizing: border-box;
}

/* check what this does again */
*, 
*:before, 
*:after {
    box-sizing: inherit;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4a5258;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.6em;
    font-weight: 120;
    line-height: 1.3;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: #3267ac;
  border: 0.1rem solid #3267ac;
  border-radius: .2rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}