/* #8C4842 dark red
#BFB39B sand
#72734F mustard
#498C66 green
#284B59 dark blue */

html {
    box-sizing: border-box;
    background: url("Next_opaq.jpg") no-repeat center center fixed; 
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:auto;
    background-repeat: repeat;
}

*, *:before, *:after {
    box-sizing: inherit;
}

header {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    margin: none;

}

.header-background {
    width: 100%;
    max-height:auto;
    background-color: #995E4C; 
    /* stroke: white;
    stroke-width: 4;
    transition: 1s; */
   /* background-color: rgb(56, 84, 110); */
}
header > article {
    order: 1; width: 100%; flex:2;
    margin: none;
    /* align-self: center ;
    justify-self: center;  */
    vertical-align:top;
    text-align: center;
}

/* header > aside {order: 3; width: 200px;}  */

img {
    display: block;
    max-width: 100%;
    height:150px;
}

header p {
    font-family: 'Permanent Marker', cursive;
    color:#ff0;
    font-weight: 400;
    justify-content: space-between;
    align-content: space-between;
    text-align: center;
}

a {
    padding: 5px;
}

main article img {
    display: block;
    max-width: 100%;
    height:400px;
}

main {display: flex;}

main > article{
    display: flex;
    order: 2; width: 100%; flex:2;
    /* min-height: 30%; */
    justify-content: center;
    align-self:center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1em;
    margin: 0 -1em;

}
main > nav {order: 1; width: 100%;flex:1;
    vertical-align:bottom;
    margin: 0 1em;
    /* align-self:center; */
    align-self:flex-start;
    justify-content: space-between;

    /* justify-self:end;
    align-self:center; */
}
    
main > aside {order: 3; width: 100%;
    margin: none;
    text-align: center;
    /* align-self: center ;
    justify-self: center;  */
} 

main p {
    font-family: 'Permanent Marker', cursive;
    color:#ff0;
    font-weight: 400;
    justify-content: space-between;
    align-content: space-between;
    text-align: center;
}

nav p{
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    color:#ff0;
}

}
header, main, form, footer {
    padding: 5px;
}

header h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;color: #463232;
    font-weight: 400;
    text-align: center;
    margin: none;
}

h2 {
    font-family: Permanent Marker, 'cursive';
    color:rgb(78, 70, 70);
    font-weight: 200;
    text-align: center;
}

h3 {
    font-family: Permanent Marker, 'cursive';
    color: #202c2d;
    /* background: #FFFFFF; */
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
    font-weight: 200;
    text-align: center;
    margin:none;
}

h4 {
    font-family: 'Permanent Marker', cursive;
    color:#4F657E;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9), 2px 2px 2px rgba(206,89,55,0);
    font-weight: 200;
    text-align: center;
}


h6 {
    font-family: 'Permanent Marker', cursive;
    color: #FFFFFF;
    /* background: #912C22; */
    text-shadow: 0 0 10px #FFFFFF;
    font-weight: 200;
    text-align: center;
    Margin: none;
    
}

a {
    transition: all ease-in-out 125ms;
    color: #BFB39B;
}

a:hover {
    text-shadow: 0 0 4px white;
    transition: all ease-in-out 125ms;
}

/* body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: #BFB39B;
    color: #284B59;
} */



#B {
    font-family: Permanent Marker, 'cursive';
    /* font-size:smaller; */
    color:rgb(161, 20, 20);
    font-weight: 200;
    text-align:center;
    /* margin-block-start:auto;
    margin-block-end: auto; */
    justify-content: space-around;
    margin: 5px;
}

/* footer {
    background-color: #8C4842;
} */

@media (min-width: 320px), (max-width: 600px) {
      /* Too narrow to support three columns */
    main { flex-flow: column;
        text-align:center;    
    }
    main > article, main > nav, main > aside {
        /* Return them to document order */
        order: 0; width: auto;
    }
        header, main, form, footer {
        padding: 10px;
    }
    header {
        max-height: min-content;
        flex-direction: row;
        text-align:center;
    }
    nav { 
        flex-direction: row;
        align-content: space-between;
        padding: 10px;
    }
    /* nav p {
        /* font-size:x-small; */
        /* margin: 8px;
    } */ 

    /* #B { */
        /* font-size:smaller; */
        /* margin: 24px;
        padding-left: 20px;
        justify-content:center; */
        /* font-weight: 200; */
    /* } */

    /* .flex-gallery1 {
        margin: 1em;
        flex-direction: column;
    }
            
    .flex-gallery {
        margin: 1em;
    }

    .gallery-item1 {
        width: 100;
        margin-right: 25%; */
        /* padding: 0 1em; */
    /* }

    .gallery-item {
        width: 50%;
        font-size: x-small; */
        /* object-fit: fill; */
    /* } */

@media (min-width: 750px) {
    header, main, footer {
        padding: 2em;
    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 16px #284B59;
    }
    /* nav p {
        margin: 1em;
    } */
    .flex-gallery {
        display: flex;
        /* flex-direction: row; */
        flex-wrap: wrap;
        margin: 0 -1em;
        /* justify-content: space-evenly; */
        /* align-items: flex-start; */
}
    .flex-gallery1 {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        margin: 0 -1em;
        /* object-fit:none;*/
        justify-content:center;
        align-items:center;
    }
    .gallery-item {
        width: 50%;
        padding: 0 1em;
    }
    .gallery-item1 {
        width: 100%;
        padding: 0 1em;
        /* width:100%;
        padding: 0 1em;
        max-width: 100%;
        object-position: 50% 50%;
        object-fit: fill;
        align-self: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: x-small; */
}

@media (min-width: 1100px) {
    .gallery-item {
        width: 33.33%;
    }
    .gallery-item1 {
        width: 33.33%;
    }
    header {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    header > div > h1, header > div > h3 {
        margin: 0;
    }
    /* img.bg {
        left: 50%;
        margin-left: -512px;   50% */
    /* }
} */

@media (min-width: 1400px) {
    header, main, footer {
        max-width: auto;
        justify-content: space-between;
        text-align:center;
        padding: 5px;
    }
    /* img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */

