/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: #a7ffeb ;
}

.nav-wrapper {
    background-color: #a7ffeb ;
    padding-left: 20px;
}
