<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo List</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resizer.css') }}"/>
    </head>
    <body>
        <header>
            <h1>Todo List</h1>
        </header>

        <main>
            <ul>
            {% for task in task_list %}
                <li>{{ task['text'] }} ({{ task['priority'] }})</li>
            {% endfor %}
            </ul>

            <form action="/" method="post">
                <input type="text" name="input_text" placeholder="enter some text"/>
                <button type="submit">submit</button>
            </form>              
        </main>
    </body>
</html>