<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo List</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resizer.css') }}"/>
    </head>
    <body>
        <header>
            <h1>Todo List</h1>
        </header>

        <main>
            <ul>
            {% for task in task_list %}
                <li>{{ task['text'] }} ({{ task['priority'] }})</li>
            {% endfor %}
            </ul>

            <form action="" method="post">
                <select name="priority" id="priority" required>
                    <option value="">Select</option>
                    <option value="high">High</option>
                    <option value="med">Medium</option>
                    <option value="low">Low</option>
                </select>
                <label for="box">Task to do:</label>
                <input type="text" id="box" name="input_text" placeholder="To do description" required>
                <button type="submit">submit</button>
            </form>              
        </main>
    </body>
</html>