<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo List</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}"/>
        <link rel="stylesheet" type="text/css" href="css/resizer.css"/>
    </head>
    <body>
        <header>
            <h1>Todo List</h1>
        </header>
        <div class="main-content">
            <main>
                <form action="#" method="post">
                    <div>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </main>
        </div>
    </body>
</html>