<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    
    <title>{% block title %}Pokedex{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Welcome {{ user.username }}!</h1>
        <p><a href="{% url 'logout' %}">Logout</a><p>
    {% else %}
        <h1>Welcome, visitor!</h1>
        <p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% load static %}
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="importmap">
        {
            "imports": {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
            }
        }
    </script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block vueComponents %}
    {% endblock %}
    
    {% block vueApp %}
    {% endblock %}
</body>
</html>