{% extends "vue_components.html" %}

{% block vueApp %}
<script type="module">
    import { createApp } from 'vue'
    
    var pokedex_app = createApp({
        data: function() {
            return {
                pokemon_list: [],
                profile: {
                    user_data: {}
                }
            }
        },
        methods: {
            getPokemon: function() {
                axios({
                    method: 'get',
                    url: '/apis/v1/pokemon'
                }).then((response) => {
                    for (let pokemon_index in response.data) {
                        let pokemon = response.data[pokemon_index];

                        let number_string = '#';
                        if (pokemon.number > 99) {
                            number_string += pokemon.number.toString();
                        }
                        else if(pokemon.number > 9) {
                            number_string += '0' + pokemon.number.toString();
                        }
                        else {
                            number_string += '00' + pokemon.number.toString();
                        }

                        this.pokemon_list.push({
                            id: pokemon.id,
                            number: number_string,
                            name: pokemon.name,
                            height: pokemon.height,
                            weight: pokemon.weight,
                            image_front: pokemon.image_front,
                            image_back: pokemon.image_back,
                            types: pokemon.types,
                            caught_by: pokemon.caught_by,
                        });
                    }
                }).catch((error) => {
                    console.log(error);
                });
            },
            getProfile: function() {
                axios({
                    method: 'get',
                    url: '/apis/v1/profiles/{{user_profile.id}}'
                }).then((response) => {
                        let profile = response.data;
                        this.profile.user_data = {
                            id: profile.id,
                            username: profile.username,
                            email: profile.email,
                            caught: profile.caught
                        }
                }).catch((error) => {
                    console.log(error);
                });
            },
            capture: function(pokemonID) {
                console.log("Capturing: " + pokemondID);
            },
            release: function(pokemonID) {
                console.log("Releasing: " + pokemondID);
            }
        },
        computed: {
            uncaught_pokemon: function() {
                let caught_list = this.profile.user_data.caught;
                let uncaught_list = [];

                uncaught_list = this.pokemon_list.filter(function(pokemon) {
                    return caught_list.indexOf(pokemon) == -1;
                });

                return uncaught_list;
            }
        },
        created: function() {
            this.getPokemon();
            this.getProfile();
        }
    });
    pokedex_app.config.compilerOptions.delimiters = ['[[', ']]'];
    pokedex_app.component('pokemon', pokemon_component);
    pokedex_app.component('profile', profile_component);
    pokedex_app.mount('#pokedex_app');
</script>
{% endblock %}