{% extends "base.html" %}

{% block vueComponents %}
<script>
    let pokemon_component = {
        props: ['pokemon_details'],
        template:  `<div class="col s12 m6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title row">
                                    <div class="col s2">
                                        [[ pokemon_details.number ]]
                                    </div>
                                    <div class="col s4 offset-s2">
                                        <p class="center-align">
                                            <a href="#!">[[ pokemon_details.name ]]</a>
                                        </p>
                                    </div>
                                </span>
                                <div>
                                    <p><strong>Height:</strong>[[ pokemon_details.height ]]</p>
                                    <p><strong>Weight:</strong>[[ pokemon_details.weight ]]</p>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col s2">
                                            <img class="responsive-img" v-bind:src=pokemon_details.image_front>
                                        </div>
                                        <div class="col s2 offset-s2">
                                            <img class="responsive-img" v-bind:src=pokemon_details.image_back>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <template v-for="type in pokemon_details.types">
                                        <p>[[type]]</p>
                                    </template>
                                </div>
                                <div v-for="user in pokemon_details.caught_by">
                                    <p>[[ user ]]</p>
                                </div>
                            </div>
                        </div>
                    </div>`
    };
</script>
{% endblock %}