<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% csrf_token %}
    {% if user.is_authenticated %}
    <h1>Welcome {{ user.username }}!</h1>
    <p><a href="{% url 'logout' %}">Logout</a><p>
    {% else %}
    <h1>Welcome, visitor!</h1>
    <p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
    {% endif %}
    <div id="app">
        [[ pokemon ]]
    </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script> 
            const vm = new Vue({
        el:'#app',
        delimiters: ['[[', ']]'],
        data: {
            pokemon: [],
            type: [],
            here: 'Hello'
        },
        mounted () {
            this.getPokemon();
        },
        methods: {
        getPokemon () {
            axios({
                method: 'get',
                url: '/apis/v1/'
            }).then(response => this.pokemon= response.data)
        }
    }
});
    </script>
</body>
</html>
