header{
    text-align: center;
    font-family: Roboto;
    background-image: url("https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/v1555275935/shape/mentalfloss/enigma-hero.jpg?itok=e_5CDHeo");
    padding-top: 50px;
    padding-bottom: 50px;
}

h1{
    color: var(--basic-color);
}

p{
    color: var(--blend-color);
}

.p2{
    margin: 12px;
    font-family: Roboto;
}

.p3{
    margin: 12px;
    font-family: Roboto;
}

.p4{
    background-color: var(--text-color);
}