{% extends 'base.html' %}

{% block content %}

    <h1>Delete post</h1>
    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ post }}"?</p>
        <div>
            <button type="button" class="btn waves-effect waves-light red accent-4" onclick="window.location.href='{% url 'posts:detail' post.pk %}';">
                Back<i class="material-icons right">arrow_back</i>
            </button>
            <button class="btn waves-effect waves-light green accent-4" name="action">
                Confirm<i class="material-icons right">check_circle</i>
            </button>
        </div>
    </form>

{% endblock content %}