html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
/* QUESTION: Are the above redundant or contradictory */


/* Q: add this during processing consistently */
* {
    border: 1px solid rgb(0, 0, 0);
}





body {
    background-color: #6d4444;
    font-family: "Special Elite", cursive;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    max-height: 150px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* In order to drop the header right below the rest of the I could do the parent div("header" as flex row, and have the "header-right" as a separate container outside of the "header -logo" and "header title".  The  container of (header right) can be a separate child that could be bumped down in flex-column formatting. the ABC container would always be flex-column, the BC container would swap to column. 

The other option to do the same as (display: none), block or flex, to trigger them. 

Prototype in a separate doc to play with the containers as the only items and then play. */


.title {
    /* not being centered.  offset from mid towards the image. image not considered with regards to centering bc only text elements are selected? */
    font-size: 40px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    margin-right: auto;
    display: block;
    max-height: 100px;
    max-width: 120px;
}


.header-right {
    /* display none on mobile or bump it below on devices */
    padding-top: 1%;
    padding-right: 1%;
    scroll-padding-left: 1%;
    /* margin-left: auto; */
}

.content {
    max-width: 90%;
    margin: auto;
}

.banner {
    width: 100%;
    height: auto;
}

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: #ff0000;
    background-color: transparent;
    text-decoration: underline;
}

  