<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josse Capstone</title>
</head>

<body>

    <div id="app">
        <h1>Book Search</h1>
        <label for="value">Choose one:</label>
        <select id="value" name="value" v-model="selectedType">
            <option value="title">Title</option>
            <option value="Author">Author</option>
        </select>
        <input type="text" placeholder="Search" v-model="userText"></input>
        <button @click="userSearch">Submit</button>
 

        <!-- <div class="container">
            <ul v-if="Object.keys(userSearch).length">
                <li v-for="book in userSearch.books" :key="book.id">
                    <p>{{ book.body }} </p>
                </li>
            </ul>
        </div>-->
 
            {{this.title}}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src='main.js'></script>
</body>

</html>