{% extends 'base.html' %}

{% block content %}
<h3 class="header">All the Chirps</h3>
<div class="row">

    <div class="col s12">

        {% for chirp in chirp_list %}

        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-action">
                    <span>Hatched on: <a href={% url 'chirps:detail' chirp.pk %} ><em>{{ chirp.created}}</em></a></span><span><a href={% url 'users:profile' chirp.author.username %} class="secondary-content"><i>{{ chirp.author.username }}</i></a></span>
                </div>
                <div class="card-content">
                    <p>{{ chirp.tiny_body | linebreaksbr }}</p>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

</div>
{% endblock content %}
