<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
</head>
<body>
    <main>
        <article class="todo-list">
            <ui>
                {% for todo in todo_list %}
                <li>
                    <a>{{ todo['priority'] }} : {{ todo['text'] }}</a>
                </li>
                {% endfor %}
            </ui>
        </article>
        
        <form action="" method="post">
            <label for="text">Chore</label>
            <input type="text" name="text" id="text" placeholder="enter chore"/>
            <label for="priority">Priority</label>
            <input type="text" name="priority" id="priority" placeholder="enter priority"/>
            <button type="submit">SUMBIT</button>
        </form>
    </main>
</body>
</html>

