<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resizer.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>Message Encoder</title>
    </head>
    <body>
        <header>
            <h1>Encode a Message</h1>
        </header>

        <aside>
            <div id="app-instructions">
                <p>This message encoding app uses a basic rotation cipher to encode messages. You can select the rotation value with the slider. After pressing the <strong>ENCODE</strong> button your encoded message will appear below.</p>
            </div>
        </aside>

        <div id="main-content">
            <main>
                <form action="/encode/" method="post" oninput="range_value.value=parseInt(rotation_value.value)">
                    <div>
                        <label for="message">Message:</label>
                        <textarea id="message" name="message" placeholder="Enter a message to encode here." required></textarea>
                    </div>
                    <div>
                        <label for="rotation">Rotation:</label>
                        <div class="slider">
                            <input type="range" name="rotation_value" min="1" max="{{ max_rotation }}" step="1" value="13">
                            <output name="range_value" for="rotation_value">13</output>
                        </div>
                    </div>
                    <button type="submit" onclick="message.value=message.value.replace(/[\n\r]/g, ' ');">ENCODE</button>
                </form>
            </main>

            <aside class="{{ should_hide }}">
                <label for="encoded_message">Encoded Message:</label>
                <p class="message-box" name="encoded_message">
                    {{ encoded_message }}
                </p>
            </aside>
        </div>
    </body>
</html>