<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resizer.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    </head>
    <body>
        <header></header>
        
        <div class="main-content">
            <main>
                <h1>Encode a Message</h1>
                <hr>
                <form action="/encode/" method="post" oninput="range_value.value=parseInt(rotation_value.value)">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" placeholder="Enter a message to encode here." required></textarea>
                    <label for="rotation">Rotation:</label>
                    <input type="range" name="rotation_value" min="2" max="{{ max_rotation }}" step="1" value="13">
                    <output name="range_value" for="rotation_value">13</output>
                    <button type="submit">Encode!</button>
                </form>
                <hr>
                <p class="{{ should_hide }}">
                    {{ encoded_message }}
                </p>
            </main>
        </div>
        
        <footer></footer>
    </body>
</html>