<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width-device-width" , initialscale="1.0" />
        <meta lang="en" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"/> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://necolas.github.io/normalize.css/8.0.1/normalize.csshttps://fonts.googleapis.com">
        <link rel='stylesheet' type="text/css" href="{{url_for('static', filename='style.css') }}"/>
        <script src="https://kit.fontawesome.com/69bb562632.js" crossorigin="anonymous"></script>
        <title>Flask Random Password Generator</title>
    </head>

    <body class='black'>
        <div id='main' class='container blue-grey darken-2'>
            <h2 id='top-header' class="center-align">Password Generator</h2>
            <h3 id='top-header-1' class="center-align"><p class="flow-text">The Maximum Password Length is 16 Characters.<br>
                Enter the number of each character type<br>
                you wish to be included in your Password.</h3>
            <form class='row brown darken-2' action="{{url_for('index')}}" method="post">
                <div class="input-field inline col s12 m12 l4   offset-l1">
                    <label class='active' for='uppercase-letters'>UpperCase Letters (A _ Z):</label>
                    <input value='0' type="text" name="uppercase" id='uppercase-letters' placeholder="0">
                </div>
                <div class="input-field inline col s12 m12 l4   offset-l2">
                    <label class='active' for='lowercase-letters'>LowerCase Letters(a - z)</label>
                    <input value='0' type="text" name="lowercase"  id='lowercase-letters' placeholder="0">
                </div>
                <div class="input-field inline col s12 m12 l4   offset-l1">
                    <label class='active' for='punct-characters'>Punctuation Characters:</label>
                    <input value='0' type="text" name="punctuation" id='punct-characters' placeholder="0">
                </div>
                <div class="input-field inline col s12 m12 l4   offset-l2">
                    <label class='active' for="number-characters">Number (0-9)</label>
                    <input value='0' type="text" name="numbers" id='number-characters' placeholder="0">
                </div>
                <div class='col s8 m4 l4  offset-m7 offset-l7 white flow-text right-align ' id='new-password'>
                    {{password}}
                </div>
                <div class='col s4 m4 l4 offset-s6 offset-m9 offset-l9'>
                    <button class='btn waves-effect waves-white right-align' id='generator' type='submit' name='action'>Generate
                        <i class='material-icons right'>autorenew</i>
                    </button>
                </div>
                <div class='col s2'>
                    <i class="fa-solid fa-anchor left"></i>
                </div>
            
            </form>
        
        </div>

        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script> 
    </body>

</html>
