body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: var(--text-color);
}

header {
    background-color: var(--background-color);
}

header > h1 {
    text-align: center;
    padding: 16px 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 48px;
    padding-bottom: 6px;
}

aside {
    display: none
}

.main_img {
    display: none;
}

.other_img {
    display: none;
}

main {
    margin: 32px 4px;
    padding: 2px;
    border: 3px outset var(--primary-color);
}

main > form {
    margin: 0px;
    border: 4px dotted var(--secondary-color);
}

footer {
    background-color: var(--accent-color);
}

h1 {
    margin: 0px;
}

h3 {
    margin: 6px 8px;
    padding-top: 12px;
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--visited-color);
}

a:hover {
    color: var(--hover-color);
}

a:active {
    color: var(--active-color);
}

form > div {
    margin: 6px 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.burrito_options {
    padding-bottom: 12px;
}

form > div > div {
    padding: 2px 8px;
}

textarea {
    width: 100%;
    min-height: 64px;
}

#order_name, #password {
    width: 100%;
}

#order_button {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

@media (min-width: 700px) {
    aside {
        display: flex;
        margin: 32px 4px;
        flex: 1;
    }

    .main_img {
        display: flex;
    }

    img {
        max-width: 100%;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 3px 6px 4px var(--shadow-color);
    }

    .main-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1000px) {
    aside {
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .other_img {
        display: flex;
    }

    img {
        width: 480px;
        height: 360px;
        margin: 8px 2px;
    }
}