<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Todos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
      #app {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
      }
      h3 {
        margin-top: 20px;
      }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid justify-content-center">
        <a class="navbar-brand" href="#">Vue Todos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>


    <div id="app">
      <h1> Vue Todos </h1>
      <form @submit.prevent="addTodos" action="">
        <input type="text" v-model="newTodo" placeholder="Enter Todo Here...">
        <button type="submit">Add Todo</button>
      </form>

      <h3>Incomplete Todos</h3>
      <ul>
        <li class="list-todo" v-for="todo in incompleteTodos">
          <span>
            {{ todo.text }}
          </span>
          <button @click="toggle(todo)">Complete</button>
          <button @click="deleteTodo(todo)">Delete</button>
        </li>
      </ul>

      <h3>Complete Todos</h3>
      <ul>
        <li class="list-todo" v-for="todo in completeTodos">
          <span>
            {{ todo.text }}
          </span>
          <button @click="toggle(todo)">Incomplete</button>
          <button @click="deleteTodo(todo)">Delete</button>
        </li>
      </ul>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="site.js"></script>
</body>
</html>