html {
  background-color: #591902;
}
header {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #bf1f1f;
  font-size: 20px;
}

h3 {
  color: #bf1f1f;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #f25116;
}
img {
  display: block;
  max-width: 86%;
  border-radius: 50px;
  padding: 5px;
  align-items: center;
}

p {
  color: #f25116;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  padding: 16px;
}

@media (min-width: 649px) {
  header,
  main,
  footer {
    padding: 2em;
    text-align: center;
  }

  nav {
    display: block;
    justify-content: center;
    align-items: center;
  }
  img {
    align-items: center;
  }
}

@media (min-width: 770px) {
  header,
  main,
  footer {
    text-align: justify;
  }
  img {
    display: flex;
  }
}
