<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Todos</title>
</head>
<body>
    <div id="app">
        <h1>Vue Todos</h1>
        <add-todo @add="addTodo"></add-todo>
        <ul>
            <todo-item
                v-for="todo in incompleteTodos"
                :key="todo.id"
                :todo="todo"
                @remove="removeTodo"
                @toggle="toggleTodo"
            >
            </todo-item>
        </ul>
        <ul>
            <todo-item
                v-for="todo in completeTodos"
                :key="todo.id"
                :todo="todo"
                @remove="removeTodo"
                @toggle="toggleTodo"
            >
            </todo-item>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="main.js"></script>
</body>
</html>