<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ROT Cipher</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lab05.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='color.css') }}"/>
    </head>
    <body>
        <header>
            <h1>ROT Cipher</h1>
        </header>

        <form action="" method="post" class="placing">
            <div>
                <div class="p2">
                    <input id="word" type="text" name="word" class="validate">
                    <label for="word">Enter a word to Encrypt:</label>
                </div>
                <div class="p3">
                    <input id="rotation" type="number" name="rotation" class="validate">
                    <label for="rotation">Enter a number to Encrypt by:</label>
                </div>
                <button type="submit" class="p4">Submit</button>

            </div>
        </form>
        {% if new_word != '' %}
            <p>{{new_word}}</p>
        {% endif %}
    </body>
</html>