
body {box-sizing: border-box;
    background: url("./images/transparent half moon.png") no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:auto;
    }

ul {
    background-color: rgb(104, 93, 79);
    border-style: groove;
    border-width: 5px;
    border-color: rgb(246, 200, 200);
    width:400px;
} 

a {
    color: rgb(250, 233, 76);

}