body{
    margin: 12px;
    background-color: bisque;
}

ul{
    list-style-type: upper-roman;
}

ul li{
    margin-top: -5px;
    margin-bottom: -15px;
}

ul li p{
    width: 100px;
}

.new{
    background-color: rgba(8, 245, 8, 0.76);
}

.target{
    display: flex;
    align-items: center;
    
}

.button{
    margin-left: 24px;
    background-color: rgba(255, 0, 0, 0.603);
}


