<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'url_shortener/css/materialize.min.css' %}"  media="screen,projection"/>

        <title>{{link.short_code}} details</title>
    </head>
    <body>
        <header>
            <nav>
                <h1>{{link.short_code}}</h1>
            </nav>
        </header>

        <div class="container">
            <h4>Here's your new shorturl for <strong>{{link.url}}</strong></h4>
            <a href='http://{{request.META.HTTP_HOST}}/{{link.short_code}}'>{{request.META.HTTP_HOST}}/{{link.short_code}}</a>
        </div>

        <div class="container">
            <canvas id="clicks_chart" width="400" height="200"></canvas>
        </div>

        <div class="container">
            <h5>Clicks:<span class="right">{{clicks|length}}</span></h5>
            {% for click in clicks %}
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title activator">{{click.referer}}<i class="material-icons right">more_vert</i></span>
                        <div>Created: {{click.created_at}}</div>
                        <br>
                    </div>
                    
                    <div class="card-reveal">
                        <span class="card-title">IP_Addr: {{click.remote_addr}}<i class="material-icons right">close</i></span>
                        <div>Language: {{click.language}}</div>
                        <div>Agent: {{click.user_agent}}</div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- JavaScript -->
        <script type="text/javascript" src="{% static 'url_shortener/js/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'url_shortener/js/chart.min.js' %}"></script>
        {{serialized_clicks|json_script:"all-click-data"}}
        <script>
            window.onpageshow = function() {
                const ctx = document.getElementById('clicks_chart').getContext('2d');
                const bg_color_list = [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ];

                const bd_color_list = [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ];

                const all_clicks = JSON.parse(JSON.parse(document.getElementById('all-click-data').textContent));
                let click_map = {};
                for (let i = 0; i < all_clicks.length; i++) {
                    if (click_map[all_clicks[i].fields.referer] == null) {
                        click_map[all_clicks[i].fields.referer] = 0;
                    }
                    click_map[all_clicks[i].fields.referer] += 1;
                }

                let click_labels = [];
                let click_data = [];
                let bg_colors = [];
                let bd_colors = [];
                let color_counter = 0;
                Object.keys(click_map).forEach(function(key) {
                    click_labels.push(key);
                    click_data.push(click_map[key]);
                    bg_colors.push(bg_color_list[color_counter]);
                    bd_colors.push(bd_color_list[color_counter]);
                    color_counter += 1;
                    if (color_counter >= 6) {
                        color_counter = 0
                    }
                });

                const clicks_chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: click_labels,
                        datasets: [{
                            label: '# of Clicks',
                            data: click_data,
                            backgroundColor: bg_colors,
                            borderColor: bd_colors,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            }
        </script>
    </body>
</html>