<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import external css -->
    <!-- 'normalize css first' -->
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
    <!-- My style.css, using flask to determine 'soft' location. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- favicon -->
    <title>Length Converter</title>
</head>
<body>
    <div class="available-units">
        <table class="available-units-table">
            <tr>
                <th>Available Units</th>
            </tr>
            {% for key in conversion %}
            <tr>
                <td>
                    {{ key }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <!-- <form action="https://webhook.site/f7337193-976d-48c7-b5e9-c445ec66ae6e?" method="post" class="user-input"> -->
    <div class="user-input-block">
        <!-- <form action="" method="post">
            <div class="input-and-submit-block">
                <label for="input-length">Input Length</label>
                <input type="number" name="input-length" id="input-length" placeholder="input number" required>
                
                <div class="submit-button">
                    <input type="submit" value="Submit Length and Input Units" id="submit">
                </div>
            </div>
            <div class="unit-choice-block">
                <label for="input-unit">Input Unit</label>
                <select name="input-unit" id="input-unit">
                    {% for key in conversion %}
                    <option value="{{ key }}">{{ key }}</option>
                    {% endfor %}
                </select>
                
                <label for="output-unit">Output Unit</label>
                <select name="output-unit" id="output-unit">
                    {% for key in conversion %}
                    <option value="{{ key }}">{{ key }}</option>
                    {% endfor %}
                </select>
            </div>
        </form> -->
        <form action="" method="post">
            <label for="input-length">Input Length</label>
            <input type="number" name="input-length" id="input-length" placeholder="input number" required>
            <label for="input-unit">Input Unit</label>
            <select name="input-unit" id="input-unit">
                {% for key in conversion %}
                <option value="{{ key }}">{{ key }}</option>
                {% endfor %}
            </select>
            <label for="output-unit">Output Unit</label>
            <select name="output-unit" id="output-unit">
                {% for key in conversion %}
                <option value="{{ key }}">{{ key }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit Length and Input Units" id="submit">
        </form>
    </div>
    <div class="display-results-block">
        {% if input_values is defined %}
        <span>{{ input_values['length'] }} {{ input_values['units'] }}</span><span> is </span>
        {% endif %}
        {% if output_values is defined %}
        <span>{{ output_values['length'] }} {{ output_values['units'] }}</span>
        {% endif %}
    </div>
    <p>Butterscotch Pi 2022</p>
    
</body>
</html>