<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import external css -->
    <!-- 'normalize css first' -->
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
    <!-- My style.css, using flask to determine 'soft' location. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- favicon -->
    <title>Document</title>
</head>
<body>
    
</body>
</html>