html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    text-align: center;
}

header{
    /* height: 200px; */
    background-color: rgb(38, 119, 224);
    /* display: block
    flex-direction: column;  */
    align-items: center;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    margin:0 auto;
}

header h1 {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
}


img {
    width: 150px;
    padding-bottom: 10px;
}
