html {
    min-height: 100vh;
    width: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    min-height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

footer {
    background-color: var(--secondary-color);
    min-height: 20px;
}

.main-content {
    margin: 4px;
}

form {
    border: 1px solid var(--text-color);
    padding: 4px;
}

form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.slider {
    display: flex;
    flex-direction: column;
    min-width: 260px;
    align-items: center;
}

label {
    margin-top: 8px;
    font-weight: bold;
}

textarea {
    background-color: var(--background-offset-color);
    min-height: 120px;
}

aside {
    margin-top: 32px;
}

aside > p {
    border: 1px solid var(--text-color);
    background-color: var(--background-offset-color);
    min-height: 120px;
    padding: 4px;
    margin:0px;
}



/* @media (min-width: 700px) {
}

@media (min-width: 1000px) {
} */