body{
    margin: 12px;
    background-image: url('https://media1.tenor.com/images/06e7f4375bc6fa3bad38ce183ec718b2/tenor.gif?itemid=5611467');
    background-size: 100%;
    background-repeat: no-repeat;
}

.sub{
    background-color: rgba(5, 224, 5, 0.493);
}