<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chirp Chirp</title>
</head>
<body>
    
    <div class='container'>
            <h4>logged out</h4>
            <a href="{% url 'login' %}"><p>click here to login</p></a>
            <div>
                {%if messages%}
            {%for message in messages%}
                {{message}}
            {% endfor %}
            {% endif %}
            </div>
    
</body>
</html>