html {
  color-scheme: red;
}
body > h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
img {
  width: 100px;
  border: double;
  border-radius: 50px;
}

.background-image {
  background-image: url("https://ichef.bbci.co.uk/news/1024/branded_news/FF64/production/_90808356_supersoaker_superpromo976.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: max-content;
}

body > p {
  text-align: center;
  padding: 25px;
  font-family: Helvetica, Arial sans-serif;
  color: maroon;
}

body > q {
  font-style: italic;
  color: black;
}
