html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

header {
    h
}

body{
    background-color: rgb(59, 56, 56);
}

header, body { color: rgba(95, 158, 218, 0.993);

                padding: 100px;


}
/* 
@media (min-width: 750px) {
    header,main {
        margin: 48px;
    } */



    /* nav{ 
        display: flex;
        /* text-align: center; */
        /* flex-wrap: wrap-reverse; */
        /* justify-content: space-between; */
    /* } */ 

/* 
    @media (min-width: 960px) {
        header, main {
            margin: 96px; */