html{
    box-sizing: border-box;
}
header{
    margin: 12px;
    text-align: center;
}
*, *:before, *:after{
    box-sizing: inherit;
}

a{
    transition: all ease-in-out 125ms;
    color: white;
}

a:hover{
    text-shadow: 0 0 4px white;
    transition: all ease-in-out 125ms;
}

body{
    text-align: justify;    
    margin: 12px;
    font-family: 'Roboto';
    background-image: url("https://jooinn.com/images/clouds-185.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    display: block;
    max-width: 100%;
}

.image{
    position: relative;    
}

.c1{
    position: absolute;
    top: -5px;
    left: 16px;    
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small; 
    }

    .c2{
    position: absolute;
    top: 5px;
    left: 16px;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

.c3{
    position: absolute;
    top: 5px;
    left: 16px;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 750px){
    body{
        margin: 24px;
    }

    nav{
        display: flex;
        justify-content: center;        
    }

    nav p{
        margin: 12px;
    }

    .flex-images{
        display: flex;
        flex-wrap: wrap;
        
    }
    .flex-images > div{
        width: 50%;
    }

}

@media (min-width: 1100px){
    nav p{
        margin: 32px;
    }

    .flex-images{
        margin: 100px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1450px){
    body{
        max-width: 1352px;
        margin-left: auto;
        margin-right: auto;
    }
}