/*
 Color-Palete

/* Color Theme Swatches in Hex */
.Fashion-1-hex { color: #024959; }
.Fashion-2-hex { color: #358C84; }
.Fashion-3-hex { color: #D9BD89; }
.Fashion-4-hex { color: #8C0303; }
.Fashion-5-hex { color: #590202; }

/* Color Theme Swatches in RGBA */
.Fashion-1-rgba { color: rgba(1, 73, 89, 1); }
.Fashion-2-rgba { color: rgba(53, 140, 131, 1); }
.Fashion-3-rgba { color: rgba(216, 188, 136, 1); }
.Fashion-4-rgba { color: rgba(140, 2, 2, 1); }
.Fashion-5-rgba { color: rgba(89, 1, 1, 1); }

/* Color Theme Swatches in HSLA */
.Fashion-1-hsla { color: hsla(191, 96, 17, 1); }
.Fashion-2-hsla { color: hsla(174, 44, 37, 1); }
.Fashion-3-hsla { color: hsla(39, 51, 69, 1); }
.Fashion-4-hsla { color: hsla(0, 96, 28, 1); }
.Fashion-5-hsla { color: hsla(0, 96, 17, 1); } 


/* background-color: #140c00;
background-image: url("https://www.transparenttextures.com/patterns/wall-4-light.png"); */

body {
    width: auto;
    height:auto;
    top:20;
    background-color: #140c00;
		background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
  }
  
  /* `Containers
  ----------------------------------------------------------------------------------------------------*/
  
  .container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    height:max-content;
    /* background-color: #140c00;
		background-image: url("https://www.transparenttextures.com/patterns/wall-4-light.png"); */
  }
  
  /* `Grid >> Global
  ----------------------------------------------------------------------------------------------------*/
  
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
  }

  .grid_1,
  .grid_7 {
    display: inline;
    float: right;
    margin-left: 10px;
    margin-right: 0px;
  }

  .push_1, .pull_1,
  .push_2, .pull_2,
  .push_3, .pull_3,
  .push_4, .pull_4,
  .push_5, .pull_5,
  .push_6, .pull_6,
  .push_7, .pull_7,
  .push_8, .pull_8,
  .push_9, .pull_9,
  .push_10, .pull_10,
  .push_11, .pull_11 {
    position: relative;
  }
  
  /* `Grid >> Children (Alpha ~ First, Omega ~ Last)
  ----------------------------------------------------------------------------------------------------*/
  
  .alpha {
    margin-left: 0;
  }
  
  .omega {
    margin-right: 0;
  }
  
  /* `Grid >> 12 Columns
  ----------------------------------------------------------------------------------------------------*/
  
  .container_12 .grid_1 {
    width: 320px;
  }
  
  .container_12 .grid_2 {
    width: 560px;
  }
  
  .container_12 .grid_3 {
    width: 820px;
  }
  
  .container_12 .grid_4 {
    width: 960px;
  }
  
  .container_12 .grid_5 {
    width: 400px;
  }
  
  .container_12 .grid_6 {
    width: 960px;
  }
  
  .container_12 .grid_7 {
    width: 1040px;
  }
  
  .container_12 .grid_8 {
    width: 1120px;
  }
  
  .container_12 .grid_9 {
    width: 1200px;
  }
  
  .container_12 .grid_10 {
    width: 1280px;
  }
  
  .container_12 .grid_11 {
    width: 1360px;
  }
  
  .container_12 .grid_12 {
    min-width: 1420px;
    max-width:fit-content;
  }
  
  /* `Prefix Extra Space >> 12 Columns
  ----------------------------------------------------------------------------------------------------*/
  
  .container_12 .prefix_1 {
    padding-left: 80px;
  }
  
  .container_12 .prefix_2 {
    padding-left: 160px;
  }
  
  .container_12 .prefix_3 {
    padding-left: 240px;
  }
  
  .container_12 .prefix_4 {
    padding-left: 320px;
  }
  
  .container_12 .prefix_5 {
    padding-left: 400px;
  }
  
  .container_12 .prefix_6 {
    padding-left: 480px;
  }
  
  .container_12 .prefix_7 {
    padding-left: 560px;
  }
  
  .container_12 .prefix_8 {
    padding-left: 640px;
  }
  
  .container_12 .prefix_9 {
    padding-left: 720px;
  }
  
  .container_12 .prefix_10 {
    padding-left: 800px;
  }
  
  .container_12 .prefix_11 {
    padding-left: 880px;
  }
  
  /* `Suffix Extra Space >> 12 Columns
  ----------------------------------------------------------------------------------------------------*/
  
  .container_12 .suffix_1 {
    padding-right: 80px;
  }
  
  .container_12 .suffix_2 {
    padding-right: 160px;
  }
  
  .container_12 .suffix_3 {
    padding-right: 240px;
  }
  
  .container_12 .suffix_4 {
    padding-right: 320px;
  }
  
  .container_12 .suffix_5 {
    padding-right: 400px;
  }
  
  .container_12 .suffix_6 {
    padding-right: 480px;
  }
  
  .container_12 .suffix_7 {
    padding-right: 560px;
  }
  
  .container_12 .suffix_8 {
    padding-right: 640px;
  }
  
  .container_12 .suffix_9 {
    padding-right: 720px;
  }
  
  .container_12 .suffix_10 {
    padding-right: 800px;
  }
  
  .container_12 .suffix_11 {
    padding-right: 880px;
  }
  
  /* `Push Space >> 12 Columns
  ----------------------------------------------------------------------------------------------------*/
  
  .container_12 .push_1 {
    left: 80px;
  }
  
  .container_12 .push_2 {
    left: 160px;
  }
  
  .container_12 .push_3 {
    left: 240px;
  }
  
  .container_12 .push_4 {
    left: 320px;
  }
  
  .container_12 .push_5 {
    left: 400px;
  }
  
  .container_12 .push_6 {
    left: 480px;
  }
  
  .container_12 .push_7 {
    left: 560px;
  }
  
  .container_12 .push_8 {
    left: 640px;
  }
  
  .container_12 .push_9 {
    left: 720px;
  }
  
  .container_12 .push_10 {
    left: 800px;
  }
  
  .container_12 .push_11 {
    left: 880px;
  }
  
  /* `Pull Space >> 12 Columns
  ----------------------------------------------------------------------------------------------------*/
  
  .container_12 .pull_1 {
    left: -80px;
  }
  
  .container_12 .pull_2 {
    left: -160px;
  }
  
  .container_12 .pull_3 {
    left: -240px;
  }
  
  .container_12 .pull_4 {
    left: -320px;
  }
  
  .container_12 .pull_5 {
    left: -400px;
  }
  
  .container_12 .pull_6 {
    left: -480px;
  }
  
  .container_12 .pull_7 {
    left: -560px;
  }
  
  .container_12 .pull_8 {
    left: -640px;
  }
  
  .container_12 .pull_9 {
    left: -720px;
  }
  
  .container_12 .pull_10 {
    left: -800px;
  }
  
  .container_12 .pull_11 {
    left: -880px;
  }

  a:-webkit-any-link {
    color:gold;
    cursor: pointer;
    text-decoration: underline;
}
a:-webkit-any-link {
  color: gold;
}
  
  /* `Clear Floated Elements
  ----------------------------------------------------------------------------------------------------*/
  
  /* http://sonspring.com/journal/clearing-floats */
  
  /* .clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  } */
  
  /* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
  
  /* .clearfix:before,
  .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility:visible;
    width: 5px;
    height: 5px;
  }
  
  .clearfix:after {
    clear:both;
  } */
  
  /*
    The following zoom:1 rule is specifically for IE6 + IE7.
    Move to separate stylesheet if invalid CSS is a problem.
  */
  
  /* .clearfix {
    zoom: 1;
  } */