<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    {% csrf_token %}
    <div id="app">
        <ul>
            <li v-for="post in posts" :key="post.id">
                <h3>[[ post.title ]]</h3>
                <h4>[[ post.author_detail.username ]]</h4>
                <h4>[[ post.created ]]</h4>
                <p>[[ post.body ]]</p>
            </li>
        </ul>
        <div>
            <input type="text" placeholder="Title" v-model="newPost.title">
            <template v-if="postErrors.title">
                <p v-for="error in postErrors.title">[[ error ]]</p>
            </template>
            <!-- <select v-model="newPost.author">
                <option v-for="user in users" :value="user.id">[[ user.username]]</option>
            </select>
            <template v-if="postErrors.author">
                <p v-for="error in postErrors.author">[[ error ]]</p>
            </template> -->
            <textarea v-model="newPost.body" placeholder="Post"></textarea>
            <template v-if="postErrors.body">
                <p v-for="error in postErrors.body">[[ error ]]</p>
            </template>
            <button @click="createPost">New Post</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                posts: [],
                users: [],
                currentUser: {},
                newPost: {
                    "title": "",
                    "author": null,
                    "body": ""
                },
                csrf_token: "",
                postErrors: {}
            },
            methods: {
                loadPosts: function() {
                    axios({
                        method: 'get',
                        url: '/api/v1/posts/'
                    }).then(response => this.posts = response.data)
                },
                loadUsers: function() {
                    axios({
                        method: 'get',
                        url: '/api/v1/users/'
                    }).then(response => this.users = response.data)
                },
                createPost: function() {
                    axios({
                        method: 'post',
                        url: '/api/v1/posts/',
                        headers: {
                            "X-CSRFToken": this.csrf_token
                        },
                        data: {
                            "title": this.newPost.title,
                            // "author": this.newPost.author,
                            "author": this.currentUser.id,
                            "body": this.newPost.body
                        }
                    }).then(response => {
                        this.loadPosts()
                        this.newPost = {
                            "title": "",
                            "author": null,
                            "body": ""
                        }
                        this.postErrors = {}
                    }).catch(error => {
                        this.postErrors = error.response.data
                    })
                },
                loadCurrentUser: function() {
                    axios({
                        method: 'get',
                        url: '/api/v1/currentuser/'
                    }).then(response => this.currentUser = response.data)
                }
            },
            created: function() {
                this.loadPosts()
                this.loadUsers()
                this.loadCurrentUser()
            },
            mounted: function() {
                this.csrf_token = document.querySelector("input[name=csrfmiddlewaretoken]").value
            }
        })
    </script>
</body>
</html>