{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mad Chirps</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="nav-left">
            <h1><a href="{% url 'chirps:home' %}">Mad Chirps</a></h1>
        </div>
        <div class="nav-right">
            {% if user.is_authenticated %}
                <mark class="red"><p>Hello, <a href="{% url 'users:profile' user.username %}">{{ user.username }}</a>!</p></mark>
                <p><a href="{% url 'logout' %}">Logout</a></p>
                <p><a href="{% url 'chirps:new' %}">+ New Chirp</a></p>
            {% else %}
                <p><a href="{% url 'login' %}">Login</a></p>
                <p><a href="{% url 'users:signup' %}">Sign Up</a></p>
            {% endif %}
        </div>
    </header>
    <main>
        <div class="w3-container">
            <div class="nav-left">
            {% block title %}
            {% endblock title %}
            </div>
        </div>
        <div class="w3-container">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
</body>
</html>