header {
    text-align: center;
    color: blue;
    text-transform: capitalize;

}

body{
    background-color: rgba(236, 171, 145, 0.699);

    
}

img {
    background-color: rgba(236, 171, 145, 0.699);


}

#instructions { max-width: 300px;
                max-height: 300px;

}
/* 
.options{

    display: flex;

    /* height: 50px; */
/* } */ 

