<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width-device-width" , initialscale="1.0" />
        <meta lang="en" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"/> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://necolas.github.io/normalize.css/8.0.1/normalize.csshttps://fonts.googleapis.com">
        <link rel='stylesheet' type="text/css" href="{{url_for('static', filename='style.css') }}"/>
        <script src="https://kit.fontawesome.com/69bb562632.js" crossorigin="anonymous"></script>
        <title>Portfolio</title>
    </head>

    <body> 
            <Main>
            </Main>
    </body>