html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

header{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    background-color: black;
}

h1{
    background-color: black;
    margin-top: 0px;

}


body {background-color:coral;
}

.output {
    text-align: center;
    display: flex;
justify-content: center;
align-items: center;

}

.buttons { 
    display: flex;
    justify-content: center;
    align-items: center;
    

}

