<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josse Perez</title>
</head>

<body>
    <div id="app">
        <h1>Quote of the Day</h1>
        <label for="value">Choose one:</label>
        <select id="value" name="value" v-model="selectedType">
            <option value="Keyword">Keyword</option>
            <option value="Author">Author</option>
            <option value="Tag">Tag</option>
        </select>
        <input type="text" placeholder="Search" v-model="userText"></input>
        <button @click="userQuote">Submit</button>
            <div class="container">
                <ul v-if="Object.keys(quote).length && !Object.keys(results).length">
                    <li v-for="quote in quote.quotes" :key="quote.id">
                        <p>{{ quote.body }}     -- {{quote.author }}</p>
                    </li>
                </ul>
            </div> 

            <div class="container">
                <ul v-if="Object.keys(results).length">
                    <li v-for="quote in results.quotes" :key="quote.id">
                        <p>{{ quote.body }}     -- {{quote.author }}</p>
                    </li>
                </ul>
            </div> 



        <footer>
        <button @click="lastPage">back page</button>
        <button @click="nextPage">next page</button>
        </footer>
            
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src='main.js'></script>
</body>

</html>