{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="author" content="Jacob M.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chirp</title>
        
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
        <link rel="stylesheet" href="{% static 'url/style.css' %}">

    </head>

    <body>
        <header>
            <div>
                <h1><a href="#">Chirp</a></h1>
            </div>
            <div>
                <p>Hello, <a href="#">User</a></p>
            </div>
        </header>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>