<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes in Vue</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.min.css" />
</head>
<body>
    <div class="container">
        <div class="container" id="searchQuoteApp">
            <div class="input-field">
                <input v-model="searchText" id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>

            <div>
                <label>
                    <input type="radio" name="searchTypeOptions" v-model="searchType" checked>
                    <span>Keyword</span>
                </label>
                
                <label>
                    <input type="radio" name="searchTypeOptions" v-model="searchType">
                    <span>Author</span>
                </label>
                
                <label>
                    <input type="radio" name="searchTypeOptions" v-model="searchType">
                    <span>Tag</span>
                </label>
            </div>

            <button class="waves-effect waves-light btn" v-on:click="this.searchForQuote">Search</button>
        </div>

        <div class="container" id="quotesListApp">
            <div>
                <div class="card">
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                    <div class="card-action right-align">
                        <a href="#">Author</a>
                    </div>
                </div>
            </div>

            <div>
                <ul class="pagination center-align">
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>
        </div>
<!--
        <div id="todoListApp">
            <div>
                <h4>Incomplete</h4>
                <ul>
                    <todo-item v-for="item in incompleteItems" v-bind:item="item" v-bind:key="item.id" v-on:remove="remove($event)" v-on:complete="complete($event)"></todo-item>
                </ul>
            </div>
        </div>
-->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>