a:link {
    color: white;
}
a:visited{
    color: yellow;
}
h2 {
    padding-top: 1.5cm;
}
img {
    padding: 2cm, 0cm, 2cm, 0cm;
}
body {
    text-align: center;
    background-image: url("https://bs-uploads.toptal.io/blackfish-uploads/components/seo/content/og_image_file/og_image/738014/image_0-c39fc1cab5c34425e8dc3f5ac720f57b.png");
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
img:not(.warren) {
    width:  600px;
    height: 500px;
    object-fit: cover;
}
h2, h1, p, q, dd, dt {
    background-color: rgba(109, 119, 121, 0.222);
    
}