<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>My Personal Blog</title>
    <link rel="icon" type="image/png" href="image/favicon-16x16.png">
</head>

<header>
    <h1>My Blog</h1>
</header>

<body>
    <!-- {%for post in posts%}
    <p>{{post}}</p>
    <hr>
    {%endfor%} -->

    {%for post in posts%}
    <h1>{{post["title"]}}</h1><br>
    <h3>{{post["author"]}}</h3><br>
    <h4>{{post["date"]}}</h4><br>
    <p>{{post["body"]}}</p><br>
    <hr>
    {%endfor%}
</body>
<footer>
    <h5> © 2002–2022 The ipsum Company LLC.</h5>
</footer>

</html>