<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener</title>
</head>
<body>
    <h1>Url Shortener</h1>
    <form action="{% url 'url_shortener_app:short_url' %}" method="post">
        {% csrf_token %}
        <label>long url</label>
        <input type='text' name="long_url" required/>
        <button type="submit">submit</button>
      </form>
      
      
      <h2>long url</h2>
      {%for item in long_url%}
      <p>{{item.long_url}}</p>
      {%endfor%}
      
      
      <h2>url code</h2>
      {%for item in long_url%}
      <ul>
          <a href="{%url 'url_shortener_app:redirect' %}"><li>{{item.short_url}}</li></a>
      </ul>
      {%endfor%}
      
</body>
</html>