<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <title>ToDo List</title>
</head>
<body>
    <header>
        <h1>TODO LIST</h1>
    </header>
    <main>
        <h2>Current List</h2>
        <hr>
        <div>
            <article class="todo-list">

                <ui>
                    {% for todo in todo_list %}
                    <li>
                        <a>{{ todo['priority'] }} : {{ todo['text'] }}</a>
                    </li>
                    {% endfor %}
                </ui>

            </article>
            <hr>
            <form action="" method="post">
                <div class='form-input'>
                    <label for="text">Chore</label>
                    <input type="text" name="text" id="text" placeholder="required" required/>
                </div>
                <div class='form-input'>
                    <label for="priority">Priority</label>
                    <select name="priority" id="priority">
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                    </select>
                </div>
                    
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </main>
</body>
</html>