{% comment %} this is a new detail file {% endcomment %}
{% comment %} <h1> {{ question.question_text }} </h1>
<ul>
    {% for choice in question.choices.all %}
        <li>{{ choice.choice_text }}</li>
    {%endfor%}
</ul> {% endcomment %}

<form action="{% url 'polls:vote' question.id %}" method='post'>
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% comment %} this error_message line links to the views.py doc to display the error_message in strong emphasis if there is one.{% endcomment %}
        {% if error_message %}<p><strong>{{ error_message }}</p>{% endif %} 
        {% for choice in question.choices.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }} </label><br>
        {% comment %} we added a break return <br> here because all of the above elements are inline elemenets {% endcomment %}
        {% endfor %}
    </fieldset>
    {% comment %} added a vote button,  {% endcomment %}
    <input type="submit" value="Vote">
</form>
