header,
h1,
h2,
label {
  background-color: blueviolet;
}
body {
  background-color: orange;
  font-family: "Lato", sans-serif;
  font-family: "Rowdies", cursive;
}
label {
  font-size: 16px;
  margin: 2px;
  padding: 5px;
  display: flex;
  background-color: blueviolet;
}
#burritopic {
  width: 500px;
  height: 250px;
  float: right;
  display: flex;
}

@media only screen and (min-width: 768px) {
  header,
  h1,
  h2,
  label {
    background-color: aqua;
  }
}
