<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'url_shortener/css/materialize.min.css' %}"  media="screen,projection"/>

        <title>{{link.short_code}} details</title>
    </head>
    <body>
        <header>
            <nav>
                <h1>{{link.short_code}}</h1>
            </nav>
        </header>

        <div class="container">
            <h4>Here's your new shorturl for <strong>{{link.url}}</strong></h4>
            <a href='http://{{request.META.HTTP_HOST}}/{{link.short_code}}'>{{request.META.HTTP_HOST}}/{{link.short_code}}</a>
        </div>

        <div class="container">
            <h5>Clicks:<span class="right">{{clicks|length}}</span></h5>
            {% for click in clicks %}
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title activator">{{click.referer}}<i class="material-icons right">more_vert</i></span>
                        <div>Created: {{click.created_at}}</div>
                        <br>
                    </div>
                    
                    <div class="card-reveal">
                        <span class="card-title">IP_Addr: {{click.remote_addr}}<i class="material-icons right">close</i></span>
                        <div>Language: {{click.language}}</div>
                        <div>Agent: {{click.user_agent}}</div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- JavaScript -->
        <script type="text/javascript" src="{% static 'url_shortener/js/materialize.min.js' %}"></script>
    </body>
</html>