<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'url_shortener/css/materialize.min.css' %}"  media="screen,projection"/>

        <title>{{link.short_code}} details</title>
    </head>
    <body>
        <header>
            <nav>
                <h1>{{link.short_code}}</h1>
            </nav>
        </header>

        <div class="container">
            <h4>Here's your new shorturl for {{link.url}}</h4>
            <a href='http://{{request.META.HTTP_HOST}}/{{link.short_code}}'>{{request.META.HTTP_HOST}}/{{link.short_code}}</a>
        </div>

        <div class="container">
            <h5>Clicks:</h5>
            {% for click in clicks %}
                <div class="card">
                    Created: {{click.created_at}}
                    Referer: {{click.referer}}
                    IP_Addr: {{click.remote_addr}}
                    Language: {{click.language}}
                    Agent: {{click.user_agent}}
                </div>
            {% endfor %}
        </div>

        <!-- JavaScript -->
        <script type="text/javascript" src="{% static 'url_shortener/js/materialize.min.js' %}"></script>
    </body>
</html>