<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Shorturl</title>
    </head>
    <body>
        <form action="{% url 'url_shortener:create' %}" method="post">
            {% csrf_token %}
            <input type="text" id="url_field" name="url" required>
            <label for="url_field">URL to shorten</label>
            <button>Submit</button>
        </form>
    </body>
</html>