
title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: azure;
}
body {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px 0;
    padding: 5%;
    background-color: navy;
    font-weight: bolder;
    color: aliceblue;
}
#image {
    border: 3px solid black;
    border-radius: 5px;
}
.container {
    display: flex;
  }
  
@media only screen and (max-width: 1200px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
body {
      background-color: rgb(23, 23, 126);
    }
.responsive {
  width: 100%;
  height: auto;
}
    }


@media only screen and (max-width: 700px) {
  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
.responsive {
    max-width: 100%;
    height: auto;
  }
body {
    background-color: rgba(31, 31, 148, 0.87);
  }
}
  /* For desktop: */

