<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bunbun's Pokedex</title>
</head>
<body>
    {% csrf_token %}
    <section>
        {% if user.is_authenticated %}
        <h1>Welcome {{ user.username }}!</h1>
        <p><a href="{% url 'logout' %}">Logout</a><p>
        {% else %}
        <h1>Welcome, visitor!</h1>
        <p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
        {% endif %}
    </section>
    <main id="app">
        <h1>[[ mainHeading ]]</h1>
        <h2>[[ stringObjectArrayHeading ]]</h2>
        <ul
            v-for="pokemon in pokemons"
        >
            <!-- How to make a url link to route to the individual Pokemon info? -->
            <li>
                <a :href="pokemon.localBrowsableApiUrl" target="_blank">
                    API: [[ pokemon.name ]]
                </a>
                <button @click="viewSinglePokemon(pokemon)">
                    View Single Pokemon
                </button>
                <button @click="loadSinglePokemon(pokemon)">
                    Load Single Pokemon
                </button>
                <img :src=pokemon.image_front :alt="pokemon.imageFrontAltText">
                <img :src=pokemon.image_back :alt="pokemon.imageBackAltText">
            </li>
        </ul>
        <!-- "pokemons.0.name" -->
    </main>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            delimiters: ['[[',']]'],
            data: {
                mainHeading: "All of the Pokemon!",
                stringObjectArrayHeading: "Pokemon List",
                pokemons: [],
                aPokemon: {
                    "number": null,
                    "name": "",
                    "height": null,
                    "weight": null,
                    "image_front": "",
                    "image_back": "",
                    "localBrowsableApiUrl": "",
                    "caught_by": [],
                    "imageFrontAltText": "",
                    "imageBackAltText": "",
                },
                aPokemonType: "",
                csrf_token: "",

            },
            methods: {
                loadPokemons: function() {
                    axios({
                        method: 'get',
                        url: `http://localhost:8010/api/v1/pokemons/`,
               
                    }).then((response) => {
                        console.log(`response`, response)
                        for (let i = 0; i < response.data.length; i++) {
                        this.pokemons.push(response.data[i])
                        // console.log(`Pokemon: `, this.pokemons[i])
                        // console.log(`name: `, this.pokemons[i].name)
                        // console.log(`number: `, this.pokemons[i].number)
                        // console.log(`indexOf: `, this.pokemons.indexOf(pokemons[i]))
                        // http://localhost:8010/api/v1/pokemons/1/
                        // pokemons[i].number
                        // pokemons[i].localBrowsableApiUrl = ""
                        
                        // `http://localhost:8010/api/v1/pokemons/${this.pokemons[i].number}/`
                        this.pokemons[i].localBrowsableApiUrl = `http://localhost:8010/api/v1/pokemons/${this.pokemons[i].number}/`
                        this.pokemons[i].imageFrontAltText = `Front view of ${ this.pokemons[i].name }`
                        this.pokemons[i].imageBackAltText = `Back view of ${ this.pokemons[i].name }`
                        }
                        console.log(`this.pokemons`, this.pokemons)
                    }).catch(error => {
                        console.log(error.response)
                        console.log(error.response.data)
                    })
                },
                viewSinglePokemon: function(payload) {
                    console.log(`Viewing single Pokemon!`)
                    console.log(`payload`, payload)
                    console.log(`payload.id: `, payload.id, ` - payload.name: `, payload.name)
                },
                loadSinglePokemon: function(payload) {
                    console.log(`Loading single Pokemon: `, payload.name)
                }
            },
            created: function() {

            },
            mounted: function() {
                this.csrf_token = document.querySelector("input[name=csrfmiddlewaretoken]").value
                this.loadPokemons()
            }
        })
    </script>
</body>
</html>