<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='lab5.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;800&display=swap" rel="stylesheet">
    
    <title>Rot Cipher</title>

</head>
<body>
    <header>
        <h1>Rot Cipher</h1>
    </header>


    <div class="main">
        <form action=" " method="post">
            <label for="text">Plaintext: </label>
            <input type="text" name="text" id="text"><br>
            <label for="rotate">Shift: </label>
            <input type="number" name="rotate" id="rotate"><br>
            <label for="cipher">Cipher: </label>
            <select name="cipher" id="cipher">
                <option value="encryption">Encryption</option>
                <option value="decryption">Decryption</option>
            </select><br>
            <button type="submit" id="submit">Submit</button>
        </form>
    </div>
    <p>Result: {{data}}</p>

</body>
</html>