body {
    background-color: whitesmoke;
}

h2, p{
    color:rgb(15, 17, 19)  ;
}

a {
    color: rgb(29 161 242);
}
.nav-left{
    font-family: 'Rampart One', cursive;
    text-align: center;
}
/* font-family: 'Rampart One', cursive;
font-family: 'Hubballi', cursive; */

.container{
    font-family: 'Hubballi', cursive;
    font-weight: 100;
    padding-left: 25px;
    padding-right: 25px;
}

.post-entry{

    font-family: 'Hubballi', cursive;

}

.nav-right{

      text-align: center
      ;
    }