<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Josse Vue todo</title>
        <link rel="stylesheet" href="/css/site.css" />
    </head>

    <body>


        <div id="app-4">
            <input v-model="new_text" type="text">
            <button @click="create_todo">submit</button>
            <ol>
                <li v-for="todo in todos" :key="todo.id">
                    {{ todo.text }}
                    <button @click="remove">remove</button>
                    <button @click="completed(todo)">complete</button>
                </li>
            </ol>
                    <br>
                    <li v-for="todo in completed_list" :key="todo.id">
                       <!-- completed: {{ completed_list[0]["text"] }} -->
                       completed: {{ todo.text }}
                    </li>
                                             
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src='js/site.js'></script>
    </body>

</html>