header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 999px;
    width: 100%;
    background-color: rgb(128, 128, 128);
}
.greet h2 {
    color: yellow;
    margin-right: 20px;
}
.greet h2 a{
    color: yellow;
}

body{
    background-color: rgb(134, 175, 250);
    margin: 10px;
}
.chirps{
    margin-top: 135px;
    margin-bottom: 100px;
}
.logo{
    width: 60px;
}

.logo img{
    display: block;
    max-width: 100%;
    
}


header h1 a{
    color: rgb(16, 35, 201);
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: 10px;    
    width: 100%;
    margin-left: -10px;
    background-color: rgb(128, 128, 128);
}