<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;400;700&family=Playfair+Display:wght@400;500;800&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <aside>
        <div>
            <a href="http://127.0.0.1:5000">
                <img src="https://www.biography.com/.image/t_share/MTE1ODA0OTcxNzgzMzkwNzMz/william-shakespeare-194895-1-402.jpg" alt="william-shakespeare-194895-1-402" title="William Shakespeare">
            </a>

            <h1>
                <a href="http://127.0.0.1:5000">William Shakespeare</a>
            </h1>
    
            <p>English playwright</p>
    
            <nav>
                <a target="_self" href="/">home</a><br>
                <a target="_self" href="https://en.wikipedia.org/wiki/William_Shakespeare">about me</a><br>
                <a target="_self" href="https://greatbritishmag.co.uk/uk-culture/10-strange-facts-about-shakespeare/">strange facts</a>
            </nav>
        </div>
    </aside>

    <main>
        {% for post in posts %}
        <article>
            <header>
                <h2>{{post["title"]}}</h2>
                <p>
                Posted on {{post["date"]}} by {{post["author"]}}  
                </p>
            </header>
            <div>
                <p>{{post["body"]}}</p>
            </div>
            <hr>
        </article>
        {% endfor %}
    </main>

    <footer>
        <p>© William Shakespeare 2020</p> 
    </footer>

</body>
</html>




