<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Url Shortner Lab</title>
  </head>
  <body>
    <div>
      <h2> Paste Url in box to add to Database</h2>
      <form method="POST" action="">
          {% csrf_token %}
          <input type="text" id="link" size="50" maxlength="1000" >
          <button type="submit" id="submit">submit</button> 
      </form>
  </div> 
  <div> 
    <h3> Entered Url : {{input_url}} </h3>
    <h3> Shortened Url : {{unique_url}} </h3>

  </div>
  <div>
    <h2> Paste shortened Url in box to be Redirected</h2>
    <form method="POST" action="">
      {% csrf_token %}
      <input type="text" id="input" size="30" maxlength="100" >
      <button type="submit" id="submit">submit</button> 
  </form>
  </div>

  </body>
</html>