body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0px 48px;
    min-height: 320px;
}

footer {
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px 8px;
}

article {
    margin: 24px 16px;
}

article > p {
    text-align: justify;
    font-family: 'Roboto Slab', serif;
}

article > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    color: var(--background-color);
    background-color: var(--accent-color);
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    padding: 16px 0px;
}

h2 {
    margin: 0px;
}

h3 {
    font-size: 1em;
    color: var(--accent-color);
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--visited-color);
}

a:hover {
    color: var(--hover-color);
}

a:active {
    color: var(--active-color);
}

nav > a {
    padding: 2px 8px
}

nav > a:link {
    color: var(--background-color);
}

nav > a:visited {
    color: var(--background-color);
}

h2 > a {
    text-decoration: none;
    font-weight: normal;
}

@media (min-width: 700px) {
    body {
        overflow: hidden;
        height: 100vh;
    }

    .wrapper {
        display: flex;
        height: 100%;
    }

    header {
        flex: 1 0 24%;
    }

    header > nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-content {
        overflow-y: auto;
    }
}

@media (min-width: 1000px) {
    .wrapper {
        flex-direction: column;
    }

    header {
        justify-content: flex-start;
        min-height: 240px;
    }
    
    header > nav {
        flex-direction: row;
    }
}