{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'glist/styles.css' %}">

<h2>To Be Completed</h2>

<ul>
    {% for grocery_item in not_completed %}
        <li><a href="">{{ grocery_item.grocery_item }}</a>
        <form action="{% url 'glist:delete' grocery_item.id %}" method='post'>
            {% csrf_token %}
            <input class='delete' type="submit" value="Delete">
        </form>
        <form action="{% url 'glist:complete' grocery_item.id %}" method='post'>
            {% csrf_token %}
            <input class='complete' type="submit" value="Complete">

        </form>
        </li>
    {% endfor %}

    </ul>
<h2>New Items</h2>
<form class='new' action="{% url 'glist:create' %}" method='post'>
    {% csrf_token %}
    <fieldset>
        <input type="text" name='description' id="description" maxlength='200' required>
        <input type="submit" value="Submit">

    </fieldset>

</form>

<h2>Completed</h2>

<ul>
    {% for grocery_item in completed_items %}
        <li><a href="">{{ grocery_item.grocery_item }}</a>
        <form action="{% url 'glist:delete' grocery_item.id %}" method='post'>
            {% csrf_token %}
            <input class='delete' type="submit" value="Delete">
        </form>
        <form action="{% url 'glist:complete' grocery_item.id %}" method='post'>
            {% csrf_token %}
            <input class='incomplete' type="submit" value="Incomplete">
        </form>
        </li>
    {% endfor %}

    </ul>