body {
    color: #ab47bc
}

header {
    background-color: #ebd0f0;
    padding: 6px;
    margin-bottom: 24px;
}

.input-field input[type]:not([readonly])+label,
.input-field textarea:not([readonly])+label {
    color: #ce93d8;
}

.input-field input[type]:not([readonly]),
.input-field textarea:not([readonly]) {
    border-bottom: 1px solid #ab47bc;
    box-shadow: 0 1px 0 0 #6a1b9a;
}

.input-field input[type]:focus:not([readonly]),
.input-field textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ab47bc;
    box-shadow: 0 1px 0 0 #6a1b9a;
}

.input-field input[type]:focus:not([readonly])+label,
.input-field textarea:focus:not([readonly])+label {
    color: #ab47bc;
}


/* Custom Classes */
.button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button-group > form {
    margin: 2px 4px;
}