<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
</head>
<body>
    <h1>Grocery List</h1>
    <form action="{% url 'grocery_list:new' %}" method="post">
        {% csrf_token %}
        <label for="description-input">Item</label>
        <input type="text" name="description" id="description-input" required>
        <input type="submit" value="Add Item">
    </form>
    <h2>complete items</h2>
    <ul>
    {%for item in completed_items%}
    <li>{{item.description}}
        <form action="{% url 'grocery_list:complete' item.pk %}" method="post">
            {% csrf_token%}
            <input type="submit" value="mark incompleted">
        </form>
        <form action="{% url 'grocery_list:delete' item.pk %}" method="post">
            {% csrf_token%}
            <input type="submit" value='delete'>
        </form>
    </li>
    {% endfor %}
    </ul>
    <h2>incompleted items</h2>
    <ul>
    {%for item in incompleted_items%}
    <li>{{item.description}}
        <form action="{% url 'grocery_list:complete' item.pk %}"method="post">
            {% csrf_token %}
            <input type="submit" value="complete">
        </form>
        <form action="{% url 'grocery_list:delete' item.pk %}"method=post>
            {%csrf_token%}
            <input type="submit" value="delete">
        </form>
    </li>
    {%endfor%}
    </ul>
</body>
</html>