{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="author" content="Jacob M.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
        <link rel="stylesheet" href="{% static 'url/style.css' %}">

    </head>

<body>
    <form action="{% url 'url_short:index' %}" method='post'>
        {% csrf_token %}
        <input type="text" name="url" id="url" maxlength=200 required>
        <input class='sub' type="submit" value="Submit">
    </form>

    <ul>
        {% for value in all_values %}
            <li>{{ value.url_to_shorten }} -- {{ value.url_short }}</li>
        {% endfor %}
    </ul>
</body>