body {
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 12px 8px 4px 8px;
    margin-bottom: 8px;
}

.content-sections {
    display: flex;
    flex-flow: column wrap;
}

section {
    min-height: 160px;
    padding-bottom: 16px;
}

footer {
    background-color: var(--primary-color);
    padding: 16px 4px;
    margin-top: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color)
}

h3, h4 {
    text-align: right;
}

a:link {
    transition: all ease-in 100ms;
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    transition: all ease-in 100ms;
    color: var(--visited-color);
    text-decoration: none;
}

a:hover {
    transition: all ease-in 175ms;
    color: var(--hover-color);
    cursor: hand;
}

a:active {
    color: var(--active-color);
}

header > h1 {
    max-width: 33%;
    color: var(--accent-color);
    margin: 4px 2px;
}

header > nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 4px 0px;
}

header a:link {
    background-color: var(--background-color);
    padding: 1px 4px;
    margin-bottom: 1px;
}

header a:visited {
    background-color: var(--background-color);
}

footer > nav {
    display: none;
}

footer > a {
    display: flex;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

footer > a:link {
    background-color: var(--background-color);
    font-weight: bold;
    font-style: normal;
}

footer > a:visited {
    background-color: var(--background-color);
    font-weight: bold;
    font-style: italic;
}

footer > a:hover {
    background-color: var(--accent-color);
    font-weight: normal;
    font-style: normal;
}

footer > a:active {
    background-color: var(--accent-color);
    font-weight: normal;
    font-style: normal;
}

section > h2 {
    background-color: var(--primary-color);
    padding: 0px 8px 0px 8px;
    margin: 4px 0px;
    color: var(--accent-color);
}

section > div, section > div p, section > div h4 {
    padding: 0px 8px;
}

.game-tile-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.game-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 140px;
}

.game-tile img {
    max-width: inherit;
}

#media div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#media img {
    max-width: 140px;
}

#next-game > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#next-game > div > img, section > div > article > img {
    max-width: 300px;
    padding: 0px 8px;
}


@media (min-width: 700px) {
    header > nav {
        flex-direction: row;
        align-items: center;
        margin: 4px 0px;
    }

    header a:link {
        padding: 0px 8px;
        margin-bottom: 0px;
        margin-right: 1px;
    }

    header a:visited {
        padding: 0px 4px;
        margin-bottom: 0px;
        margin-right: 1px;
        vertical-align: middle;
    }

    #next-game > div > img {
        max-width: 100%;
        padding-top: 8px;
    }

    section > div {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: baseline;
    }

    section > div > article {
        max-width: 300px;
    }

    h4 {
        text-align: left;
    }

    .content-sections > section {
        margin-bottom: 64px;
    }
}

@media (min-width: 1000px) {
    footer > a {
        display: none;
    }

    footer > nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    footer > nav > a {
        margin: 0px 16px;
        padding: 2px 16px;
    }

    footer > nav > a:link {
        background-color: var(--background-color);
    }
    
    footer > nav > a:visited {
        background-color: var(--background-color);
    }

    .content-sections > section {
        margin-bottom: 128px;
    }
}