{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex Lab</title>
</head>
<body>
    <p> base </p>
    {% csrf_token %}
    <main id="app">

        {% block content %}
        {% endblock %}
    </main>

    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            delimiters: ['[[',']]'],
            data: {
                csrf_token: "",
                message: 'Hello world!',
                pokemons: [],
                edit_name: "",
                edit_number:"",
                edit_height:"",
                edit_weight: "",
                edit_bimage: "",
                edit_fimage: "",

            },
            methods: {

                loadPokemon: function () {
                    console.log(this.message)
                    axios({
                        method: 'get',
                        url:'/api/v1/pokemon/',
                    }).then(res => {
                        console.log(res.data)
                        this.pokemons = res.data

                    })
                
                },
                deletePokemon: function () {
                    console.log('deleting')
                    axios({
                        method: 'delete',
                        url:'/api/v1/pokemon/152/',
                        headers: {
                            "X-CSRFToken": this.csrf_token
                          },
                    }).then(res => {
                        console.log(res)
                    }).catch(error => {

                        console.log(error)
                    })
                },
                addPokemon: function () {
                    console.log('adding')
                    axios({
                        method: 'post',
                        url:'/api/v1/pokemon/',
                        headers: {
                            "X-CSRFToken": this.csrf_token
                          },
                          data: {

                            "name": "d",
                            "number": 215,
                            "height": 1.0,
                            "weight": 2.0,
                            "image_front": "https://www.bing.com/",
                            "image_back": "https://www.bing.com/",
                            "caught_by": [
                                1
                            ],
                            "type_info": []
                          }
                    }).then(res => {
                        console.log(res)
                    })
                },
                editPokemon: function () {
                    axios({
                        method: 'put',
                        url:'/api/v1/pokemon/id',
                        headers: {
                            "X-CSRFToken": this.csrf_token
                          },
                          data: {

                            "name": edit_name,
                            "number": edit_number,
                            "height": edit_height,
                            "weight": edit_weight,
                            "image_front": edit_fimage,
                            "image_back": edit_bimage,
                            "caught_by": [
                                1
                            ],
                            "type_info": []
                          }                    
                        }).then(res => {
                        console.log(res)
                    })
                        

                },
            },
            created: function() {
            },
            mounted: function() {
                console.log('works')
                this.csrf_token = document.querySelector("input[name=csrfmiddlewaretoken]").value
                this.loadPokemon()
            
            }
        })
    </script>
</body>

</html>