{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<h1>Welcome {{ user.username }}!</h1>
<p><a href="{% url 'logout' %}">Logout</a><p>
{% else %}
<h1>Welcome, visitor!</h1>
<p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
{% endif %}
{% if user.is_authenticated %}


{% else %}
<h1>Welcome, visitor!</h1>
<p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
{% endif %}
<a href="{% url 'add' %}">Add Pokemon</a>
<ul>
  <template v-for="pokemon in pokemons"> 
    <div :id=`${pokemon.id}`>
      <button type='button' @click='deletePokemon("158")'>Delete this Pokemon</button>
        <a href="{% url 'delete' %}">Delete Pokemon</a>
        <a href="{% url 'edit' %}">Edit Pokemon</a>
    <li>[[ pokemon.name ]]</li>
    <li>[[ pokemon.height]]</li>
    <li>[[ pokemon.weight ]]</li>
    <li>[[ pokemon.number ]]</li>
    <img :src="pokemon.image_front">
    <img :src="pokemon.image_back">
    <template v-for="types in pokemon.type_info">
      <li>[[ types.type ]]</li>
    </template>

    </div>
    <br>
</template>
</ul>

{% endblock %}