
{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
    <h1>Welcome {{ user.username }}!</h1>
    <p><a href="{% url 'logout' %}">Logout</a><p>
    {% else %}
    <h1>Welcome, visitor!</h1>
    <p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
    {% endif %}
    
    <form role="search">
        <label for="search" class="hidden-visually">Search: </label>
        <input type="text" name="search" id="search" v-model="search" />
        <button type="submit">Search</button>
</form>
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
   
  {% endblock %}