<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 6: Mini-Capstone API</title>
    <style>
    table, th, td {
        border:3px solid rgba(166, 3, 3);
        color: rgb(90, 115, 2);
        width: 100%;
    }
    table {
        width: 100%;
    }
    </style>
</head>
<body>
    <header></header>
    <main id="app">

        <h1>Flynnt Knapp's Adafruit IO Feed</h1>

        <search-component></search-component>

        <the-chart></the-chart>

        <h2>Five most recent measurements</h2>
        <ul v-if="Object.keys(esp8266DataArray).length">
            <temperature-display-li
                v-for="dataPoint in esp8266DataArray"
                v-bind:temperature-display-li="dataPoint"
                v-bind:key="dataPoint.id"
            >
            </temperature-display-li>
        </ul>

        <!-- <temperature-chart></temperature-chart> -->

        <!-- <div>
            <canvas id="myChart"></canvas>
        </div> -->

        <table v-if="Object.keys(esp8266DataArray).length">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Feed</th>
                    <th>Temperature</th>
                </tr>
            </thead>
            <tbody>

                <tr is="temperature-display-table"
                    v-for="dataPoint in esp8266DataArray"
                    v-bind:temperature-display-table="dataPoint"
                    v-bind:key="dataPoint.id"
                >
                </tr>
            </tbody>
        </table>


  <!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">Country</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="name in info" :key="name.Country">
        <td>{{name.Country}}</td>
        <td>{{name.Value}}</td>
      </tr>
    </tbody>
  </table> -->




    </main>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="js/site.js"></script>
</body>
</html>