<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />    
    <title>Lab 6: Mini-Capstone API</title>

</head>
<body>

    <header></header>

    <main id="app">

        <h1>Flynnt Knapp's Adafruit IO Feed</h1>

        <search-component
            v-on:send-to-root="saveSomethingToRootComponent"
            v-on:send-esp8266-to-root="saveESP8266ToRootComponent"
            v-on:send-esp8266-chart-to-root="saveESP8266ChartToRootComponent" 
        >
        </search-component>

        <temperature-chart
            v-bind:chart-data-object="rootChartDataObject"
            v-on:create-labels="createLabelArray"
            v-on:create-values="createValueArray"
        >
        </temperature-chart>

        <!-- <temperature-chart-chart-data
            v-bind:chart-data-object="rootChartChartDataObject"
            v-on:create-labels="createLabelArray"
            v-on:create-values="createValueArray"
        >
        </temperature-chart-chart-data> -->

        <table v-if="Object.keys(esp8266DataArray).length">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Feed</th>
                    <th>Temperature</th>
                </tr>
            </thead>
            <tbody>

                <tr is="temperature-display-table"
                    v-for="dataPoint in esp8266DataArray"
                    v-bind:temperature-display-table="dataPoint"
                    v-bind:key="dataPoint.id"
                >
                </tr>
            </tbody>
        </table>

    </main>

    <footer></footer>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="js/site.js"></script>
</body>
</html>