body{
    background-color: lightskyblue;
    background-image: url('https://thumbs.gfycat.com/ShinyPlushEmperorpenguin-max-1mb.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-position: bottom;
    
}

li{
    color: red;
}

a{
    color: red;
}