<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Rock+3D&display=swap" rel="stylesheet">
  <title>To do list </title>
</head>

<body>
  <header>
    <h1> your to do list</h1>
  </header>
  <div class="output">
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
    <table>
      <tr>
        <th>priority</th>
        <th>text</th>
      </tr>
      {%for item in data %}
      <tr>
        <td>{{item["priority"]}}</td>
        <td>{{item["text"]}}</td>
      </tr>
      {%endfor%}
    </table>
  </div>


  <div class="buttons">

    <form action=" " method="post">
      <label for="text">Input Text</label>
      <input type="text" name="text" id="text"><br />

      <label for="priority">Priority</label>
      <select name="priority" id="priority">
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
      </select><br />

      <button type="submit">submit</button>

    </form>
  </div>
</body>

</html>