<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>todolist</title>
  </head>
  <header>
    <h1>todolist</h1>
  </header>

  <body>
    <p>your todolist data</p>
    <ol>
      {%for i in data %}
      <li>{{i}}</li>
      {%endfor%}
    </ol>
    <form action=" " method="post">
      <input type="text" name="text" id="text" />
      <label for="text">input text</label><br />

      <label for="priority">Priority</label>
      <select name="priority" id="priority">
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option></select
      ><br />

      <button type="submit">sumbit</button>
    </form>
  </body>
</html>
