<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist</title>
</head>
<header>
    <h1>todolist</h1>
</header>
<body>
    <form action="https://webhook.site/29c49307-82f3-4f77-bb55-ca1cc74fbba7" method="post">

        <input type="text" name="inputtext" id="inputtext">
        <label for="inputtext">input text</label><br>

        <button type="submit">sumbit</button>
    </form>
</body>
</html>