html {
  background-color: orange;
  font-family: "Lato", sans-serif;
  font-family: "Rowdies", cursive;
}
header {
  background-color: blueviolet;
}
#burritopic {
  width: 500px;
  height: 250px;
  float: right;
}
