#app{
    
    background-color: rgb(255, 255, 255)
}
#container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}
#auth{
    text-align: center;
}
#studentList{
    border: 2px solid black;
    width:330px;
    padding:10px;   
}
#form{
    border: 2px solid black;
    padding:10px;
    height:300px;
    
}
input{
    height:30px;
    width: 300px;
    border: 1px solid black;
    margin-left: 20px;
}
#formBtn{
    margin-left:35%;
    margin-top:5px
}