<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="author" content="Jacob M.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>APOD</title>
        
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        
        <div id="app">
            <header>
                <h2>Choose a date for a previous picture:</h2>
                <input type="date" v-model="userFilter" class="calendar">
                <button v-on:click="loadAPOD" class="button">Submit</button>
            </header>
                <div v-if="Object.keys(apod).length" class="sets">
                    
                    <div v-if="apod.media_type === 'image'">
                        <img :src="apod.url">
                    </div>

                    <div v-else-if="apod.media_type === 'video'">
                        <iframe :src="apod.url"></iframe>
                    </div>
                    
                    <div class="text">
                        <h3>{{ apod.title }}</h3>
                        <p>{{ apod.explanation }}</p>
                    </div>
                    
                
                </div>

                <div v-else>
                    <div v-for="info in arand" :key="info.date" class="sets">
                        
                        <div v-if="info.media_type === 'image'">
                            <img :src="info.url">
                        </div>

                        <div v-else-if="info.media_type === 'video'">
                            <iframe :src="info.url"></iframe>
                        </div>

                        <div class="text">
                            <h3>{{ info.title }}</h3>
                            <p>{{ info.explanation }}</p>
                        </div>
                        
                    
                    </div>
                
                </div>
        </div>
    
        
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="secrets.js"></script>
        <script src="site.js"></script>
    
    </body>
</html>