html{
    box-sizing: border-box;
}

body{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 125px;
    background-color: rgb(0, 0, 27);
    
}

*, *:before, *:after{
    box-sizing: inherit;
}

header{
    background-image: url('https://i0.wp.com/25.media.tumblr.com/11e9421d56b1281a56957bcd9ba99a8a/tumblr_mmn38puXc11s6sl0co1_500.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999px;
    width: 100%;
    
}

header h2{
    color: white;
    margin-left: 12px;
}

.sets img{
    display: inline;
    width: 350px;
    height: 280px;
}

.sets iframe{
    display: inline;
    width: 350px;
    height: 280px;
}

.day img{
    display: block;
    width: 350px;
    height: 280px;
    
}

.day iframe{
    display: block;
    width: 350px;
    height: 280px;
}

.calendar{
    margin-left: 12px;
}

.button{
    margin: 12px;
}

p{      
    line-height: 1.4em;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 12px;
}

.text{
    color: white;
}

.single{
    color: white;
}


@media (min-width: 730px) {
    .sets{
        display: flex;
    }
}

@media (min-width: 1030px) {
    body{
        margin-top: 200px;
    }

    header{
        height: 175px;
    }

    .sets{
        margin: 12px;
    }
    
    .sets img{
        
        width: 500px;
        height: 400px;
    }
    
    .sets iframe{
        
        width: 500px;
        height: 400px;
    }

    .day{
        justify-content: center;
    }
    
    .day img{
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        height: 600px;
    }
    
    .day iframe{
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        height: 600px;
    }

    .text{
        flex-wrap: wrap;
        margin: 12px;
    }

    h3{
        font-size: 24px;
    }

    p{
        font-size: 18px;
    }
   
}