header{

        font-family: 'Rampart One', cursive;
        font-size: 100px;
        text-align: center;
        
}

body{
    background-color: rgba(245, 245, 245, 0.945);
}

.input{

    text-align: center;
    margin-top: 75px;
    margin-right: 70px;

}
.button{
    text-align: center;
    size: 100px;
    margin-top: 50px;
    margin-right: 70px;

}

p{ 
    text-align: center;
    font-size: 75px;
    margin-top: 25px;
    margin-right: 70px;
    font-family: 'Potta One', cursive;
}