<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
    
    <header>
        <h1> CLOG BLOG</h1>
        <nav>
            <p><a href="#">Archive</a></p>
            <p><a href="#">About</a></p>
            <p><a href="#">Contact</a></p>
            <p><a href="#">RSS Feed</a></p>
        </nav>
    </header>

    <div class="sidebar">
        <div class="months">
            <p><a href="#">January</a></p>
            <p><a href="#">February</a></p>
            <p><a href="#">March</a></p>
            <p><a href="#">April</a></p>
            <p><a href="#">May</a></p>
            <p><a href="#">June</a></p>
            <p><a href="#">July</a></p>
            <p><a href="#">August</a></p>
            <p><a href="#">September</a></p>
            <p><a href="#">October</a></p>
            <p><a href="#">November</a></p>
            <p><a href="#">December</a></p>
        </div>
    </div>

    
    <main>
       <div class="container"> 
            {% for post in posts %}
            <div class="posts-card">
                <div class="posts-info">
                    {{ post['title'] }}<br> 
                    {{ post['author'] }}<br> 
                    {{ post['date'] }}<br> 
                </div>
                {{ post['body'] }}
                <hr></hr>
            </div>
            {% endfor %}
        
        </div>
        
    </main>

    <footer>
        <p>Copyright 2022 Clog Blog LLC.</p>
    </footer>

    


</body>
</html>