<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo in Vue</title>

    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <div id="addItemApp">
        <input v-model="newItemText">
        <button v-on:click="this.addNewItem">Add</button>
    </div>

    <div id="todoListApp">
        <h4>Incomplete</h4>
        <ul>
            <todo-item v-for="item in incompleteItems" v-bind:item="item" v-bind:key="item.id"></todo-item>
        </ul>

        <h4>Complete</h4>
        <ul>
            <todo-item v-for="item in completeItems" v-bind:item="item" v-bind:key="item.id"></todo-item>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/site.js"></script>
</body>
</html>