{% comment %} How to add a question? {% endcomment %}

<form action="{% url 'polls:add_question' %}" method="post">
    {% csrf_token %}
    <fieldset>

        <legend><h1>Add a question</h1></legend>

        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        
        {% comment %} 'for="question"' matches with 'id="question"' {% endcomment %}
        <label for="question">New Question (Required)</label><br>
        {% comment %} 'name="question"' is used to recover the input value in the request. {% endcomment %}
        <input type="text" name="question" id="question" placeholder="new question" required><br>
        
        
        {% for i in number_choices %}
        {% comment %} The below 'for=' matches with 'id='. {% endcomment %}
        {% comment %} Need 'name=' below since it will be used to get the associated 'value=' at server. {% endcomment %}
        {% comment %} Resource: https://docs.djangoproject.com/en/4.0/ref/templates/builtins/#cycle {% endcomment %}
        {% comment %} Make first two 'choice' inputs 'required' {% endcomment %}
        {% if i < 2%}
        <label for="choice{{ forloop.counter }}">Choice-{{ forloop.counter }} (Required)</label>
        <input type="text" name="choice{{ forloop.counter }}" id="choice{{ forloop.counter }}" required><br>
        {% else %}
        {% comment %} Remaining 'choice' inputs are optional. {% endcomment %}
        <label for="choice{{ forloop.counter }}">Choice-{{ forloop.counter }}</label>
        <input type="text" name="choice{{ forloop.counter }}" id="choice{{ forloop.counter }}"><br>
        {% endif %}

        {% endfor %}


    </fieldset>
    <input type="submit" value="Submit">
</form>

<p><a href="{% url 'polls:index' %}">Go to home</a></p>