{% comment %} method, action, submit button, 'value', and csrf_token. {% endcomment %}
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>

        <legend><h1>{{ question.question_text }}</h1></legend>

        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        {% for choice in question.choices.all %}
        {% comment %} Need 'name=' below since it will be used to get the associated 'value=' at server. {% endcomment %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        {% comment %} The below 'for=' matches with 'id=' above. {% endcomment %}
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}

    </fieldset>
    <input type="submit" value="Vote">
</form>
<p><a href="{% url 'polls:index' %}">Go to home</a></p>







{% comment %} <h1>{{ question.question_text }}</h1>
<ul style="list-style: none">
    <lh style="font-size: 1.5em">Available Choices:</lh>
    {% for choice in question.choices.all %}
    <li>{{ choice.choice_text }}</li>
    {% endfor %}
</ul> {% endcomment %}

{% comment %} {% if question %}
    <p>{{ question.id }}: {{ question.question_text }}</p>
{% else %}
    <p>No polls are available.</p>
{% endif %} {% endcomment %}
