<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'url_shortener/css/materialize.min.css' %}"  media="screen,projection"/>
        {% comment %} <link type="text/css" rel="stylesheet" href="{% static 'url_shortener/css/style.css' %}"  media="screen,projection"> {% endcomment %}

        <title>Shorturl</title>
    </head>
    <body>
        <header>
            <nav>
                <h1>Shorturl</h1>
            </nav>
        </header>
        
        <div class="container">
            <div class="row">
                <form action="{% url 'url_shortener:create' %}" method='post'>
                    {% csrf_token %}
                    <div class="input-field col s8">
                        <input type="text" id="url_field" name="url" required>
                        <label for="url_field">Enter a URL to shorten</label>
                    </div>

                    <div class="col s1">
                        <button class="waves-effect waves-light btn"><i class="material-icons">send</i></button>
                    </div>
                </form>
            </div>
        </div>

        <!-- JavaScript -->
        <script type="text/javascript" src="{% static 'url_shortener/js/materialize.min.js' %}"></script>
    </body>
</html>