<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>URL Shortener</title>
    </head>
    <body>
        <h1>URL Shortener</h1>
        <form action="{% url 'shortened_app:create' %}" method="post">
         {% csrf_token %}
        <input type="text" id="url_text" name="url" required>
        <label for="url_text">URL to be shortened</label>
        <button>Submit</button>

    </body>
</html>